<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drop For Life - Change Password</title>
        <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>

	  	<!-- Bootstrap -->
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
  </head>
  <body>
  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="home">Drop For Life</a></center>
   
  </div>
</div>

  	<div class="container-fluid">
  		<div class="row-fluid">
  			<!-- login -->
  			<div class="span4 row-fluid" >
<div class="span9"><b style="font-family: 'Domine', serif;">"Blood cannot be manufactured, it can come only as a gift from a fellow human's generosity."</b></div>
<br /><br /><br /><br />

<!-- facebook plugin -->

			<span class="hidden-phone">
			  	{% include "fb-likebutton.html" %}				
			</span>
			<span class="visible-mobile hidden-desktop hidden-tablet">
				{% include "fb-likebutton-mobile.html" %}
			</span>


<!--  				<img class="hidden-phone" alt="DOnate Blood Save Life" src="/static/img/blood_load.png"/> -->
  				
  			</div>
  			
  			<div class="span5" >
  	<ul class="nav nav-pills">
    <!-- <li>
    <a href="/home/">Home</a>
    </li> -->
    <li><a href="/search">Search</a></li>
    <li><a href="/profile">My Profile</a></li>
    <li class="active"><a href="/changepswd">Change Password</a></li>
    <li><a id="lnk_logout" href="/logoutsite">Logout</a></li>
    </ul>
    <form method="POST">
    	{% if updated %}
    	<div class="alert alert-success">
    	Password Changed Successfully !!
    	</div>
    	{% endif %}
    	{% csrf_token %}
  				<legend>Change Password</legend>
<table>
<tr>
	<td>
		Old Password:
	</td>
	<td>
		<input type="hidden" name="emailid" value="{{ emailid }}" />
		<input type="password" name="old_pswd" placeholder="Old Password" autofocus="yes"  />
		<br /><span class="error"> {{ passwordform.old_pswd.errors.as_text }}</span>
	</td>
</tr>
<tr>
	<td>
		New Password:
	</td>
	<td>
		<input type="password" name="new_pswd" placeholder="New Password" />
	</td>
</tr>
<tr>
	<td>
		Confirm New Password:
	</td>
	<td>
		<input type="password" name="cnf_new_pswd" placeholder="Retype New Password" />
	<br /><span class="error"> {{ passwordform.cnf_new_pswd.errors.as_text }}</span>
	</td>
</tr>
	<tr>
		<td>
			
		</td>
		<td>
			<button class="btn" type="submit">Save</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn" type="reset">Reset</button>
		</td>
	</tr>
</table>
</form>
  			</div>	
  			
  			<!-- instructions -->
  			<div class="span3">
  				{% include "rules.html" %}
  			</div>
  			</div> 
  			
  		</div>
  </body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© 2012-2013 <a href="/home">dropforlife.in</a> All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms & Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/siteby">Site design</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></center>
  </div>
 <!-- </div> -->
  </footer>
</html>