<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drop For Life - Home</title>
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
  </head>
  <body>
  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="home">Drop For Life</a></center>
   
  </div>
</div>
  	<div class="container-fluid">
  		<div class="row-fluid">
  			<!-- login -->
  			<div class="span4 row-fluid" >

			<span class="hidden-phone">
			  	{% include "fb-likebutton.html" %}				
			</span>
			<span class="visible-mobile">
				{% include "fb-likebutton-mobile.html" %}
			</span>


<!--  				<img class="hidden-phone" alt="DOnate Blood Save Life" src="/static/img/blood_load.png"/> -->
  				
  			</div>
  			<!-- load image -->	
  			<div class="span5" >

<form method="post" action="/contact/">
		{% csrf_token %}

<legend>Contact Form</legend>
<table>
	<tr>
		<td>Name:</td>
		<td>
<input type="text" name="con_name" placeholder="Your Full Name" autofocus="yes"  />
		<br /><span class="error"> {{form.con_name.errors.as_text}}</span>

			
		</td>
		
	</tr>
	<tr>
		<td>Email Id(Optional):</td>
		<td>
<input type="email" name="con_emailid" placeholder="Primary Email Id" />
		<br /><span class="error"> {{form.con_emailid.errors.as_text}}</span>			
		</td>
	</tr>
	<tr>
		<td>Mobile No.:(Optional):</td>
		<td>
<input type="tel" name="con_mobile" placeholder="Mobile Number" />
		<br /><span class="error"> {{form.con_mobile.errors.as_text}}</span>			
		</td>
	</tr>
	<tr>
		<td>Write to us:</td>
		<td>
<textarea name="con_text" placeholder="Suggestions/Complaints" ></textarea>
			
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
<button class="btn" type="submit" name="con_submit">Submit</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/home" class="btn">Cancel</a>
			
		</td>
	</tr>
</table>
</form>
		</div>	
  			
  			<!-- instructions -->
  			<div class="span3">
  				{% include "rules.html" %}
  			</div>
  			</div> 
  			
  		</div>

</body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© 2012-2013 <a href="/home">dropforlife.in</a> All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms & Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/siteby">Site</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></center>
  </div>
 <!-- </div> -->
  </footer>
</html>