<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drop For Life - Home</title>
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
</head>
<body>
	  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="/">Drop For Life</a></center>
	</div>
	</div>

	<div class="container-fluid">
<h4>DOs and DONT's of Blood Donation:</h4>
<h5>Do donate blood only if ...</h5>
•	You are between age group of 18-60 years.
<br/>•	Your weight is 45 Kgs or more.
<br/>•	Your haemoglobin is 12.6 mm% minimum.
<br/>•	Your last blood donation was 3 months earlier.

<br/><h5>You are not allowed to donate blood if you have..</h5>
•	Malaria (within last 6 months) 
<br/>•	Tuberculosis (within last 2 years or you are under medication) 
<br/>•	Diabetes and you are under medication (normal fasting blood sugar range is 60 - 100 mg %) 
<br/>•	Chicken Pox (within 1 year) 
<br/>•	Drastic weight loss (recently) i.e. sudden weight loss within few days (more than 10 kg) 
<br/>•	Small Pox Vaccination (within the last 3 weeks)  
<br/>•	Hypertension (BP) and you are under medication. (Normal level is 150/100) 
<br/>•	Chain Smokers, alcoholics, drug addicts must avoid blood donation

<h5>Following diseased patients are permanently avoided:</h5>
•	Hepatitis (B & C) (Hepatitis A patients can donate the blood after 1 year of diagnosis.) 
<br/>•	Healthy persons involving high risk behavior like HIV infection 
<br/>•	Open Heart Surgery & Any other type of Heart Problem 
<br/>•	Cancer Surgery 
<br/>•	Have an active symptom like Chest pain, breathlessness 
<br/>•	Cardiac Medication 
<br/>•	Myocardial Infarction 
<br/>•	Endocrinal disorders 
<br/>•	Stomach Ulcer with Bleeding 
<br/>•	Long Term Liver disease 
<br/>•	Long Term Kidney disease

<br/><h5>Blood Donation Dos</h5>
•	Eat foods high in iron a few hours before donating to ensure that your iron count is high. These include whole grains, red meat, eggs, and dark, leafy vegetables such as spinach. The vitamin C in orange juice also helps increase iron absorption.
<br/>•	Having a light-hearted conversation with the person administering your donation can help to distract you. Pinch yourself while the needle is going in, and have something to chew on, such as gum, to take your mind off the needle. Recite something from memory, or sing a song while the blood is being drawn. Before you know it, the process will be over.
<br/>•	Have a snack after the donation. All centers provide fruit juice and sugary snacks to get your blood sugar back up to a normal level. Be sure to have the juice and cookies, and rest in the center while you eat.
<br/>•	Make sure your next meal is high in protein. Also remember to consume fruits and vegetables and drink lots of water, as the combination will help your body to create new blood right away.
<br/>•	Rest for the remainder of the day. Don't plan a trip to the gym or to the dance club later. Instead, try to rest as you would if you were trying to get over a bad cold. Read, see a movie, or work on the computer, but don't push yourself too hard.
<br/>•	<b>Donors are recommended to prompt for a Doctor's letter from Blood Seekers so as to avoid the sale of your Blood.</b>

<br/><h5>Blood Donation Don'ts</h5>
•	Don't consume caffeinated beverages before donating. While it's important to drink plenty of fluids beforehand, caffeinated drinks are diuretics, which will make the body expel more water. Stick with water instead.
<br/>•	Don't eat fatty foods prior to the process. The fat in fast foods, for example, can interfere with the blood screening done after the donation, causing the blood to be disposed of, and you don't want your donation to go to waste.
<br/>•	Don't donate on an empty stomach. Eat a good breakfast to keep your blood sugar stable and to ward off lightheadedness. Don't eat too close to donation time, however, as this may result in an upset stomach.
<br/>•	Don't donate if you weigh less than 110 pounds or if you're younger than 17 years of age.
<br/>•	Don't drive yourself home from the donation center. Afterward, the body often feels weak, and you may become faint or even fall asleep while driving. Plan to visit the center with a friend or relative so they can help after the process is over.
</div></body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© 2012-2013 <a href="/">dropforlife.in</a> All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms & Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/site">Site</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></center>
  </div>
 <!-- </div> -->
  </footer>
</html>