<!DOCTYPE html>
<html lang="en">
  <head>
        <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>

	  	<!-- Bootstrap -->
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
  </head>
  <body>

<!-- //*********facebook like send button -->




  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="home">Drop For Life</a></center>
   
  </div>
</div>

  	<div class="container-fluid">
  		<div class="row-fluid">
  			<!-- login -->
  			<div class="span4 row-fluid" >
<div class="span9"><b style="font-family: 'Domine', serif;">"Blood cannot be manufactured, it can come only as a gift from a fellow human's generosity."</b></div>

<!-- facebook plugin -->
			<span class="hidden-phone">
			  	{% include "fb-likebutton.html" %}				
			</span>
			<span class="visible-mobile hidden-desktop hidden-tablet">
				{% include "fb-likebutton-mobile.html" %}
			</span>


<!--facebook like send button 
<div class="fb-like" data-href="http://www.lakshmignarayanan.com" data-send="true" data-width="450" data-show-faces="true"></div>
-->
<!--
//********** twitter feeds 
<a class="twitter-timeline" href="https://twitter.com/lakshmignarayan" data-widget-id="289806901527580673">Tweets by @lakshmignarayan</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->
<!--  				<img class="hidden-phone" alt="DOnate Blood Save Life" src="/static/img/blood_load.png"/> -->
  				
  			</div>
  			<!-- load image -->	
  			<div class="span5" >
  	<ul class="nav nav-pills">
    <li class="active">
    <a href="/home/">Home</a>
    </li>
    <li><a href="/contact">Contact Us</a></li>
    
    <!-- <li><a href="/profile/">Profile</a></li> -->
    </ul>
    			{% if prereg %}
    			{% include "preregister.html" %}
    			{% elif reg %}
  				{% include "register.html" %} 
  				{% else %}
  				{% include "login.html" %}
  				{% endif %}
  			</div>	
  			
  			<!-- instructions -->
  			<div class="span3">
  				{% include "rules.html" %}
  			</div>
  			</div> 
  			
  		</div>
  </body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© 2012-2013 <a href="/home">dropforlife.in</a> All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms & Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/siteby">Site</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></center>
  </div>
 <!-- </div> -->
  </footer>
</html>