 <form class="form-horizontal" id="form_login" action="" method="post">	
 		{% csrf_token %}

 	<div id="form_login">
 		<legend>Login to proceed</legend>
 		 
<div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
     <input id="inputEmail" name="log_emailid" autofocus="yes" onfocusout="validate-email" type="email" placeholder="Email Address" value="{{ form.log_emailid.value }}">
	<br /><span class="error"> {{form.log_emailid.errors.as_text}} </span>
    </div>
  </div>  	 
  		
<div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
    <input id="inputPassword" type="password" name="log_pswd" placeholder="Password">
   	<br /> <span class="error"> {{ form.log_pswd.errors.as_text}} </span>
   	<br /><a href="/forgotpswd" id="forgotpswd" name="log_forgotpswd">Forgot Password!</a>

    </div>
  </div>    
     

<div class="control-group">
    <div class="controls">
     <button  class="btn">Login</button>
    	&nbsp;&nbsp;&nbsp;&nbsp;<a id="btn_register"  class="btn" href ="/preregister">Register</a> 
    </div>
  </div>    
     
   

	</div>
</form>