<html>
	<head>
		
	</head>
	<body>
		
	<form class="form-horizontal" id="form_register" action="/register/" method="post" >
	{% csrf_token %}
 	<legend>Pre_Register to proceed</legend>
 	 
 	 <div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
	 <input name= "reg_name" id="inputName" type="text" value="{{ form.reg_name.value }}" placeholder="Your Full Name" />
		<br /><span class="error"> {{form.reg_name.errors.as_text}}</span>
    </div>
  </div>
	  
	  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
	 <input id="inputEmail" name="reg_emailid" type="text" value="{{ form.reg_emailid.value }}" placeholder="Primary Mail Address" />
	<br /><span class="error">	{{ form.reg_emailid.errors.as_text }}</span>
    </div>
  </div>
	 
	  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
	<input id="inputPassword" name="reg_pswd" type="password" placeholder="Secret Word" />
    </div>
  </div>
		
	  <div class="control-group">
    <label class="control-label" for="inputCnfPassword">Re-Type Password</label>
    <div class="controls">
		<input id="inputCnfPassword" name="reg_cnfpswd" type="password" placeholder="Confirm Secret Word" />
		<br /> <span class="error">{{ form.reg_cnfpswd.errors.as_text }}</span>
    </div>
  </div>
	 
	  <div class="control-group">
    <label class="control-label" for="inputBloodGroup">Blood Group</label>
    <div class="controls">
<select name="reg_bloodgroup" id="inputBloodGroup" value="{{ form.reg_bloodgroup.as_text }}">
	<option {% if form.reg_bloodgroup.value = "A1+" %}selected="True" {% endif %}>A1+</option>
	<option {% if form.reg_bloodgroup.value = "A1-" %}selected="True" {% endif %}>A1-</option>
	<option {% if form.reg_bloodgroup.value = "A2+" %}selected="True" {% endif %}>A2+</option>
	<option {% if form.reg_bloodgroup.value = "A2-" %}selected="True" {% endif %}>A2-</option>
	<option {% if form.reg_bloodgroup.value = "B+" %}selected="True" {% endif %}>B+</option>
	<option {% if form.reg_bloodgroup.value = "B-" %}selected="True" {% endif %}>B-</option>
	<option {% if form.reg_bloodgroup.value = "A1B+" %}selected="True" {% endif %}>A1B+</option>
	<option {% if form.reg_bloodgroup.value = "A1B-" %}selected="True" {% endif %}>A1B-</option>
	<option {% if form.reg_bloodgroup.value = "A2B+" %}selected="True" {% endif %}>A2B+</option>
	<option {% if form.reg_bloodgroup.value = "A2B-" %}selected="True" {% endif %}>A2B-</option>
	<option {% if form.reg_bloodgroup.value = "AB+" %}selected="True" {% endif %}>AB+</option>
	<option {% if form.reg_bloodgroup.value = "AB-" %}selected="True" {% endif %}>AB-</option>
	<option {% if form.reg_bloodgroup.value = "O+" %}selected="True" {% endif %}>O+</option>
	<option {% if form.reg_bloodgroup.value = "O-" %}selected="True" {% endif %}>O-</option>
	<option {% if form.reg_bloodgroup.value = "A+" %}selected="True" {% endif %}>A+</option>
	<option {% if form.reg_bloodgroup.value = "A-" %}selected="True" {% endif %}>A-</option>
</select>
<br /><span class="error"> {{ form.reg_bloodgroup.errors.as_text }}</span>
    </div>
  </div>
	 
	  <div class="control-group">
    <label class="control-label" for="inputMobile">Mobile</label>
    <div class="controls">
		<input id="inputMobile" name="reg_mobile" type="tel" placeholder="Primary Mobile Number" value="{{ form.reg_mobile.value }}" />
		<br /><span class="error"> {{ form.reg_mobile.errors.as_text }}</span>
    </div>
  </div>
		
	  <div class="control-group">
    <label class="control-label" for="inputGender">Gender</label>
    <div class="controls">
    	<label class="radio">
  <input type="radio" name="reg_sex" value="Male" checked>
  Male
</label>
    	<label class="radio">
  <input type="radio" name="reg_sex" value="Female" disabled="true">
  Female
</label>
    </div>
  </div>
		  
	  <div class="control-group">
    <label class="control-label" for="inputDOB">Date Of Birth</label>
    <div class="controls">
		<input id="inputDOB" name="reg_dob" type="text" placeholder="Day/Month/Year" value="{{ form.reg_dob.value }}" />
		<br /><span class="error"> {{ form.reg_dob.errors.as_text }}</span>
    </div>
  </div>
 
	  <div class="control-group">
    <label class="control-label" for="inputDOLBD">Last Donation Date</label>
    <div class="controls">
		<input name="reg_dolbd" id="inputDOLBD" type="text" placeholder="Day/Month/Year" value="{{ form.reg_dolbd.value }}" />
		<br /><span>* Leave blank if not donated yet..!</span>
		<br /><span class="error"> {{ form.reg_dolbd.errors.as_text }}</span>
    </div>
  </div>
	 
	  <div class="control-group">
    <label class="control-label" for="inputCity">City</label>
    <div class="controls">
		<select id="inputCity" name="reg_city">
				<option {% if form.reg_city.value = "Ariyalur" %}selected="True" {% endif %}>Ariyalur</option>
				<option {% if form.reg_city.value = "Chennai" %}selected="True" {% endif %}>Chennai</option>
				<option {% if form.reg_city.value = "Coimbatore" %}selected="True" {% endif %}>Coimbatore</option>
				<option {% if form.reg_city.value = "Cuddalore" %}selected="True" {% endif %}>Cuddalore</option>
				<option {% if form.reg_city.value = "Dharmapuri" %}selected="True" {% endif %}>Dharmapuri</option>
				<option {% if form.reg_city.value = "Dindigul" %}selected="True" {% endif %}>Dindigul</option>
				<option {% if form.reg_city.value = "Erode" %}selected="True" {% endif %}>Erode</option>
				<option {% if form.reg_city.value = "Kanchipuram" %}selected="True" {% endif %}>Kanchipuram</option>
				<option {% if form.reg_city.value = "Kanyakumari" %}selected="True" {% endif %}>Kanyakumari</option>
				<option {% if form.reg_city.value = "Karur" %}selected="True" {% endif %}>Karur</option>
				<option {% if form.reg_city.value = "Krishnagiri" %}selected="True" {% endif %}>Krishnagiri</option>
				<option {% if form.reg_city.value = "Madurai" %}selected="True" {% endif %}>Madurai</option>
				<option {% if form.reg_city.value = "Nagapattinam" %}selected="True" {% endif %}>Nagapattinam</option>
				<option {% if form.reg_city.value = "Namakkal" %}selected="True" {% endif %}>Namakkal</option>
				<option {% if form.reg_city.value = "Nilgiris" %}selected="True" {% endif %}>Nilgiris</option>
				<option {% if form.reg_city.value = "Perambalur" %}selected="True" {% endif %}>Perambalur</option>
				<option {% if form.reg_city.value = "Pudukottai" %}selected="True" {% endif %}>Pudukottai</option>
				<option {% if form.reg_city.value = "Ramanathapuram" %}selected="True" {% endif %}>Ramanathapuram</option>
				<option {% if form.reg_city.value = "Salem" %}selected="True" {% endif %}>Salem</option>
				<option {% if form.reg_city.value = "Sivaganga" %}selected="True" {% endif %}>Sivaganga</option>
				<option {% if form.reg_city.value = "Thanjavur" %}selected="True" {% endif %}>Thanjavur</option>
				<option {% if form.reg_city.value = "Theni" %}selected="True" {% endif %}>Theni</option>
				<option {% if form.reg_city.value = "Thoothukudi" %}selected="True" {% endif %}>Thoothukudi</option>
				<option {% if form.reg_city.value = "Thiruvarur" %}selected="True" {% endif %}>Thiruvarur</option>
				<option {% if form.reg_city.value = "Tirunelveli" %}selected="True" {% endif %}>Tirunelveli</option>
				<option {% if form.reg_city.value = "Tiruchirappalli" %}selected="True" {% endif %}>Tiruchirappalli</option>
				<option {% if form.reg_city.value = "Thiruvallur" %}selected="True" {% endif %}>Thiruvallur</option>
				<option {% if form.reg_city.value = "Tiruppur" %}selected="True" {% endif %}>Tiruppur</option>
				<option {% if form.reg_city.value = "Tiruvannamalai" %}selected="True" {% endif %}>Tiruvannamalai</option>
				<option {% if form.reg_city.value = "Vellore" %}selected="True" {% endif %}>Vellore</option>
				<option {% if form.reg_city.value = "Villupuram" %}selected="True" {% endif %}>Villupuram</option>
				<option {% if form.reg_city.value = "Virudhunagar" %}selected="True" {% endif %}>Virudhunagar</option>
		</select>
<br/><span class="error">{{ form.reg_city.errors.as_text }}</span>
<br /><button class="btn" href="/register" type="submit">Fetch Location</button>
    </div>
  </div>
  
</form>
</body>
</html>