<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salem Blood Bank - Profile</title>
	  	<!-- Bootstrap -->
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
  </head>
  <body>
  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="#">Salem Blood Bank</a></center>
   
  </div>
</div>

  	<div class="container-fluid">
  		<div class="row-fluid">
  			<!-- login -->
  			<div class="span4 row-fluid" >
  	
  				<img class="hidden-phone" alt="DOnate Blood Save Life" src="/static/img/blood_load.png"/>
  				
  			</div>
  			
  			<div class="span5" >
  	<ul class="nav nav-pills">
    <!-- <li>
    <a href="/home/">Home</a>
    </li> -->
    <li><a href="/search">Search</a></li>
    <li class="active"><a href="/profile">My Profile</a></li>
    <li><a href="/home">Logout</a></li>
    </ul>
  				<legend>My Profile</legend>
<table>
	<tr>
<td>
	Name:
</td>	
<td><input type="text" name="prof_name" placeholder="Your Full Name" /></td>	
	</tr>
	<tr><td>
		Emailid:
	</td>
	<td>
		<input type="email" name="prof_emailid" placeholder="Primary Email Id" />
	</td>
	</tr>
	<tr>
		<td>
			New Password:
		</td>
		<td>
			<input type="password" name="prof_pswd" placeholder="New Password" />
		</td>
	</tr>
	<tr>
		<td>
			Confirm Password:
		</td>
		<td>
			<input type="password" name="prof_cnfpswd" placeholder="Confirm New Password" />
		</td>
	</tr>
	<tr>
		<td>
			Mobile:
		</td>
		<td>
			<input type="tel" name="prof_mobile" placeholder="Mobile" />
		</td>
	</tr>
	<tr><td></td>
		<td>
			<input type="checkbox" name="prof_hidemob" /> Hide Mobile Number
		</td>
	</tr>
	<tr>
		<td>
			Last Blood Donation Date:
		</td>
		<td>
			<input type="date" name="prof_dolbd" placeholder="Last Blood DOnation Date" />
		</td>
	</tr>
	<tr>
		<td>City:</td>
		<td>
			<select name="reg_city">
	<option>Salem</option>
	<option>Coimbatore</option>
	<option>Madurai</option>
	<option>Erode</option>
</select>
		</td>
	</tr>
	<tr>
		<td>
			
		</td>
		<td>
			<button class="btn">Save</button>
		
			<button class="btn">Reset</button>
		</td>
	</tr>
</table>
  			</div>	
  			
  			<!-- instructions -->
  			<div class="span3">
  				{% include "rules.html" %}
  			</div>
  			</div> 
  			
  		</div>
  </body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© Youth Red Cross, Sona College</center>
  </div>
 <!-- </div> -->
  </footer>
</html>