<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drop For Life - Profile</title>
        <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>

	  	<!-- Bootstrap -->
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
  </head>
  <body>
  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="home">Drop For Life</a></center>
   
  </div>
</div>

  	<div class="container-fluid">
  		<div class="row-fluid">
  			<!-- login -->
  			<div class="span4 row-fluid" >
<div class="span9"><b style="font-family: 'Domine', serif;">"Blood cannot be manufactured, it can come only as a gift from a fellow human's generosity."</b></div>
<br /><br /><br /><br />

<!-- facebook plugin -->

			<span class="hidden-phone">
			  	{% include "fb-likebutton.html" %}				
			</span>
			<span class="visible-mobile hidden-desktop hidden-tablet">
				{% include "fb-likebutton-mobile.html" %}
			</span>



<!--  				<img class="hidden-phone" alt="DOnate Blood Save Life" src="/static/img/blood_load.png"/>
  	-->			
  			</div>
  			
  			<div class="span5" >
  	<ul class="nav nav-pills">
    <!-- <li>
    <a href="/home/">Home</a>
    </li> -->
    <li><a href="/search">Search</a></li>
    <li class="active"><a href="/profile">My Profile</a></li>
    <li><a href="/changepswd">Change Password</a></li>
    <li><a id="lnk_logout" href="/logoutsite">Logout</a></li>
    </ul>
    <form method="POST">
    	{% if updated %}
    	<div class="alert alert-success">
    	Updated Successfully !!
    	</div>
    	{% endif %}
    	{% csrf_token %}
  				<legend>My Profile</legend>
<table>
	<tr>
<td>
	Name:
</td>	
<td>
	<input type="hidden" name="prof_oldemail" value="{{ oldemail }}"/>
	<input type="text" name="prof_name" placeholder="Your Full Name"  value="{% firstof userprof.prof_name.value userprof.name %}"/></td>	
	<br /><span class="error"> {{userprof.prof_name.errors.as_text}}</span>
	</tr>
	<tr><td>
		Emailid:
	</td>
	<td>
		<input type="email" name="prof_emailid" placeholder="Primary Email Id" value="{% firstof userprof.prof_emailid.value userprof.email %}" />
	<br /><span class="error"> {{userprof.prof_emailid.errors.as_text}}</span>
	</td>
	</tr>
	
	
	
	<tr>
		<td>
			Mobile:
		</td>
		<td>
			<input type="tel" name="prof_mobile" placeholder="Mobile" value="{% firstof userprof.prof_mobile.value userprof.mobile %}"/>
		<br /><span class="error"> {{userprof.prof_mobile.errors.as_text}}</span>
		</td>
	</tr>

	<tr>
		<td>
			Last Blood Donation Date:
		</td>
		<td>
			<input  type="text" name="prof_dolbd" placeholder="Date/Month/Year" value="{% if userprof.dolbd %}{{ userprof.dolbd|date:"d-m-Y"}}{% else %}{{userprof.prof_dolbd.value  }}{% endif %}"/>
		<br /><span class="error"> {{userprof.prof_dolbd.errors.as_text}}</span>
		<br />* Leave blank if not donated yet..!
		</td>
	</tr>
	<tr>
		<td>City:</td>
		<td>
			<select name="prof_city" value="">
	<option {% if userprof.city == 'Salem' or userprof.prof_city.value == "Salem" %}selected {% endif %}>Salem</option>
	<option {% if userprof.city == 'Coimbatore' or userprof.prof_city.value == "Coimbatore"%}selected {% endif %}>Coimbatore</option>
	<option  {% if userprof.city == 'Madurai' or userprof.prof_city.value == "Madurai" %}selected {% endif %} >Madurai</option>
	<option {% if userprof.city == 'Erode' or userprof.prof_city.value == "Erode" %}selected {% endif %} >Erode</option>
</select>
		</td>
	</tr>
	<tr>
		<td>
			
		</td>
		<td>
			<button class="btn" type="submit">Save</button>
		&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn" type="reset">Reset</button>
		</td>
	</tr>
</table>
</form>
  			</div>	
  			
  			<!-- instructions -->
  			<div class="span3">
  				{% include "rules.html" %}
  			</div>
  			</div> 
  			
  		</div>
  </body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© 2012-2013 dropforlife.in All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms & Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/siteby">Site design</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></center>
  </div>
 <!-- </div> -->
  </footer>
</html>