<form id="form_register" action="/register/" method="post" >
	{% csrf_token %}
 	<legend>Register to proceed</legend>
 	<table>
<tr><td>Name </td>
	<td><input name= "reg_name" id="name" type="text" value="{{ form.reg_name.value }}" placeholder="Your Full Name" />
		<br /> {{form.reg_name.errors.as_text}}
	</td></tr>
<tr>
	<td>
	Email-Id	
	</td>
	<td><input id="reg_email" name="reg_emailid" type="text" value="{{ form.reg_emailid.value }}" placeholder="Primary Mail Address" />
	<br />	{{ form.reg_emailid.errors.as_text }}
	</td>
</tr>
<tr>
	<td>
	Password
	</td>
	<td>
	<input id="reg_pswd" name="reg_pswd" type="password" placeholder="Secret Word" />
		
	</td>
</tr>
<tr>
	<td>
		Re-Type Password
	</td>
	<td>
		<input id="reg_cnfpswd" name="reg_cnfpswd" type="password" placeholder="Confirm Secret Word" />
		<br /> {{ form.reg_cnfpswd.errors.as_text }}
	</td>
</tr>
<tr>
	<td>
		Blood Group
	</td>
	<td>
		<select name="reg_bloodgroup" value="{{ form.reg_bloodgroup.as_text }}">
	<option>A1+</option>
	<option>A1-</option>
	<option>A2+</option>
	<option>A2-</option>
	<option>B+</option>
	<option>B-</option>
	<option>A1B+</option>
	<option>A1B-</option>
	<option>A2B+</option>
	<option>A2B-</option>
	<option>AB+</option>
	<option>AB-</option>
	<option>O+</option>
	<option>O-</option>
	<option>A+</option>
	<option>A-</option>
</select>
<br /> {{ form.reg_bloodgroup.errors.as_text }}
	</td>
</tr>
<tr>
	<td>
		Mobile 
	</td>
	<td>
		<input id="mob" name="reg_mobile" type="tel" placeholder="Primary Mobile Number" value="{{ form.reg_mobile.value }}" />
		<br /> {{ form.reg_mobile.errors.as_text }}
		 </td>
</tr>
<tr>
	<td></td>
	<td>
		<input id="hidemob" name="reg_hidemob" type="checkbox" />
		 Hide Contact Numbers
	</td>
</tr>
<tr>
	<td>
<br />		Sex
	</td>
	<td>
		<input name="reg_sex" type="radio" value="Male" checked="true"/>Male
	 	<input name="reg_sex" type="radio" value="Female" disabled="true" />Female
	 	
	</td>
</tr>
<tr>
	<td>
		DateOfBirth:
	</td>
	<td>
		<input id="dob" name="reg_dob" type="text" placeholder="Day/Month/Year" value="{{ form.reg_dob.value }}" />
		<br /> {{ form.reg_dob.errors.as_text }}
	</td>
</tr>
<tr>
	<td>
Last Donation Date:
		
	</td>
	<td>
		<input name="reg_dolbd" id="dolbd" type="text" placeholder="Day/Month/Year" value="{{ form.reg_dolbd.value }}" />
		<br /> {{ form.reg_dolbd.errors.as_text }}
	</td>
</tr>
<tr>
	<td>
		City
	</td>
	<td>
		<select name="reg_city">
	<option {% if form.reg_city.value == "Salem" %}selected{% endif %}>Salem</option>
	<option {% if form.reg_city.value == "Coimbatore" %}selected{% endif %}>Coimbatore</option>
	<option {% if form.reg_city.value == "Madurai" %}selected{% endif %}>Madurai</option>
	<option {% if form.reg_city.value == "Erode" %}selected{% endif %}>Erode</option>
</select>
{{ form.reg_city.errors.as_text }}
	</td>
</tr>
<!-- <tr>
	<td>
		Locality 
	</td>
	<td>
		<select name="reg_locality" ><option>-Select Area-</option>
	<option>Peramanoor</option>
	<option>Suramangalam</option>
	<option>Ammapet</option>
	<option>FairLands</option>
	<option>Muthupat</option>
</select>
	</td>
</tr> -->
<tr>
	<td></td>
	<td>
		<button class="btn" type="submit" id="btn_reg_submit">Submit</button>
		<button class="btn" id="btn_reg_reset" type="reset">Reset</button>
	</td>
</tr>
</table>

</form>