 <div id="form_register" style="display: none"> 
 	<legend>Register to proceed</legend>
 	<input id="name" type="text" placeholder="Name" />
<br />	<input id="reg_email" type="text" placeholder="E-mail Id" />
<br />	<input id="reg_pswd" type="password" placeholder="Password" />
<br />	<input id="reg_cnfpswd" type="password" placeholder="ReType Password" />
<br />	<select><option>-Select Blood Group-</option>
	<option>A1+</option>
	<option>A1-</option>
	<option>A2+</option>
	<option>A2-</option>
	<option>B+</option>
	<option>B-</option>
	<option>A1B+</option>
	<option>A1B-</option>
	<option>A2B+</option>
	<option>A2B-</option>
	<option>AB+</option>
	<option>AB-</option>
	<option>O+</option>
	<option>O-</option>
	<option>A+</option>
	<option>A-</option>
</select>
<br /> 	<input id="mob" type="tel" placeholder="Mobile Number" />
<br /> 	<input name="sex" type="radio"  value="Male" />Male
	 	<input name="sex" type="radio" value="Female" />Female
<br /> DateOfBirth:
<br /> <input id="dob" type="date" placeholder="Month/Day/Year" />
<br /> Last Donation Date:
<br /> <input id="dolbd" type="date" placeholder="Month/Day/Year" />
<br /> <input id="hidemob" type="checkbox" />Hide Contact Numbers

<br /> <select><option>-Select City-</option>
	<option>Salem</option>
	<option>Coimbatore</option>
	<option>Erode</option>
</select>
<br /> <select><option>-Select Area-</option>
	<option>Peramanoor</option>
	<option>Suramangalam</option>
	<option>Ammapet</option>
	<option>FairLands</option>
	
</select>
</div>
