<h4>DOs and DONT's of Blood Donation:</h4>
<h5>Do donate blood only if ...</h5>
•	You are between age group of 18-60 years.
<br/>•	Your weight is 45 Kgs or more.
<br/>•	Your haemoglobin is 12.5 gm% minimum.
<br/>•	Your last blood donation was 3 months earlier.

<br/><h5>You are not allowed to donate blood if you have..</h5>
•	Malaria (within last 6 months) 
<br/>•	Tuberculosis (within last 2 years or you are under medication) 
<br/>•	Diabetes and you are under medication (normal fasting blood sugar range is 60 - 100 mg %) 
<br/>•	Chicken Pox (within 1 year) 
<br/>•	Drastic weight loss (recently) i.e. sudden weight loss within few days (more than 10 kg) 
<br/>•	Small Pox Vaccination (within the last 3 weeks)  
<br/>•	Hypertension (BP) and you are under medication. (Normal level is 150/100) 
<br/>•	Chain Smokers, alcoholics, drug addicts must avoid blood donation

<br /><a href="/healthtips">More rules and Health Tips</a>