<h4>Rules to be Followed Before Donation</h4>
<br/>
<ul>
	<li>Should not consume alcohol before 24 hours</li>
	<li>Minimum weight should be 55 Kgs</li>
	<li>Minimum 3 months gap from previous donation</li>
	<li>Should not been vacinated in last 15 days</li>
	<li>Should not been affcted by hepatits in last 6 months</li>
	<li>My hemoglobin is not less than 12.5 grams</li>
	<li>I am free from acute respiratory diseases and skin diseases</li>
	<li>I do not carry any disease transmissible by blood transfusion</li>
	<li>I am not under medication for Malaria / Tuberculosis / Diabetes / Fits / Convulsions</li>
</ul>