<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drop For Life - Search</title>
        <link href='http://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>

	  	<!-- Bootstrap -->
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
  </head>
  <body>
  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="home">Drop For Life</a></center>
   
  </div>
</div>

  	<div class="container-fluid">
  		<div class="row-fluid">
  			<!-- login -->
  			<div class="span4 row-fluid" >
<div class="span9"><b style="font-family: 'Domine', serif;">"Blood cannot be manufactured, it can come only as a gift from a fellow human's generosity."</b></div>

<!-- facebook plugin -->

			<span class="hidden-phone">
			  	{% include "fb-likebutton.html" %}				
			</span>
			<span class="visible-mobile hidden-desktop hidden-tablet">
				{% include "fb-likebutton-mobile.html" %}
			</span>


<!--
  	  				<img class="hidden-phone" alt="DOnate Blood Save Life" src="/static/img/blood_load.png"/>
  	-->			
  			</div>
  			
  			<div class="span5" >
  				Welcome {{ user }} , <br/><br/>
  	<ul class="nav nav-pills">
    
    <li class="active"><a href="/search">Search</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/changepswd">Change Password</a></li>
    <li><a href="/logoutsite">Logout</a></li>
    </ul>
<form  class="form-horizontal" method="get" >
	
  				<legend>Search Donor</legend>
 <div class="control-group">
    <label class="control-label" for="inputBloodGroup">Blood Group</label>
    <div class="controls">
			<select id="inputBloodGroup" name="srch_bloodgroup">
	<option {% if bloodgroup = "A1+" %}selected="True" {% endif %}>A1+</option>
	<option {% if bloodgroup = "A1-" %}selected="True" {% endif %}>A1-</option>
	<option {% if bloodgroup = "A2+" %}selected="True" {% endif %}>A2+</option>
	<option {% if bloodgroup = "A2-" %}selected="True" {% endif %}>A2-</option>
	<option {% if bloodgroup = "B+" %}selected="True" {% endif %}>B+</option>
	<option {% if bloodgroup = "B-" %}selected="True" {% endif %}>B-</option>
	<option {% if bloodgroup = "A1B+" %}selected="True" {% endif %}>A1B+</option>
	<option {% if bloodgroup = "A1B-" %}selected="True" {% endif %}>A1B-</option>
	<option {% if bloodgroup = "A2B+" %}selected="True" {% endif %}>A2B+</option>
	<option {% if bloodgroup = "A2B-" %}selected="True" {% endif %}>A2B-</option>
	<option {% if bloodgroup = "AB+" %}selected="True" {% endif %}>AB+</option>
	<option {% if bloodgroup = "AB-" %}selected="True" {% endif %}>AB-</option>
	<option {% if bloodgroup = "O+" %}selected="True" {% endif %}>O+</option>
	<option {% if bloodgroup = "O-" %}selected="True" {% endif %}>O-</option>
	<option {% if bloodgroup = "A+" %}selected="True" {% endif %}>A+</option>
	<option {% if bloodgroup = "A-" %}selected="True" {% endif %}>A-</option>
</select>
    </div>
  </div>

 <div class="control-group">
    <label class="control-label" for="inputCity">City</label>
    <div class="controls">
			<select id="inputCity" name="srch_city">
				<option {% if city = "Ariyalur" %}selected="True" {% endif %}>Ariyalur</option>
				<option {% if city = "Chennai" %}selected="True" {% endif %}>Chennai</option>
				<option {% if city = "Coimbatore" %}selected="True" {% endif %}>Coimbatore</option>
				<option {% if city = "Cuddalore" %}selected="True" {% endif %}>Cuddalore</option>
				<option {% if city = "Dharmapuri" %}selected="True" {% endif %}>Dharmapuri</option>
				<option {% if city = "Dindigul" %}selected="True" {% endif %}>Dindigul</option>
				<option {% if city = "Erode" %}selected="True" {% endif %}>Erode</option>
				<option {% if city = "Kanchipuram" %}selected="True" {% endif %}>Kanchipuram</option>
				<option {% if city = "Kanniyakumari" %}selected="True" {% endif %}>Kanniyakumari</option>
				<option {% if city = "Karur" %}selected="True" {% endif %}>Karur</option>
				<option {% if city = "Krishnagiri" %}selected="True" {% endif %}>Krishnagiri</option>
				<option {% if city = "Madurai" %}selected="True" {% endif %}>Madurai</option>
				<option {% if city = "Nagapattinam" %}selected="True" {% endif %}>Nagapattinam</option>
				<option {% if city = "Namakkal" %}selected="True" {% endif %}>Namakkal</option>
				<option {% if city = "Nilgiris" %}selected="True" {% endif %}>Nilgiris</option>
				<option {% if city = "Perambalur" %}selected="True" {% endif %}>Perambalur</option>
				<option {% if city = "Pudukottai" %}selected="True" {% endif %}>Pudukottai</option>
				<option {% if city = "Ramanathapuram" %}selected="True" {% endif %}>Ramanathapuram</option>
				<option {% if city = "Salem" %}selected="True" {% endif %}>Salem</option>
				<option {% if city = "Sivaganga" %}selected="True" {% endif %}>Sivaganga</option>
				<option {% if city = "Thanjavur" %}selected="True" {% endif %}>Thanjavur</option>
				<option {% if city = "Theni" %}selected="True" {% endif %}>Theni</option>
				<option {% if city = "Thoothukudi" %}selected="True" {% endif %}>Thoothukudi</option>
				<option {% if city = "Thiruvarur" %}selected="True" {% endif %}>Thiruvarur</option>
				<option {% if city = "Tirunelveli" %}selected="True" {% endif %}>Tirunelveli</option>
				<option {% if city = "Tiruchirappalli" %}selected="True" {% endif %}>Tiruchirappalli</option>
				<option {% if city = "Thiruvallur" %}selected="True" {% endif %}>Thiruvallur</option>
				<option {% if city = "Tiruppur" %}selected="True" {% endif %}>Tiruppur</option>
				<option {% if city = "Tiruvannamalai" %}selected="True" {% endif %}>Tiruvannamalai</option>
				<option {% if city = "Vellore" %}selected="True" {% endif %}>Vellore</option>
				<option {% if city = "Villupuram" %}selected="True" {% endif %}>Villupuram</option>
				<option {% if city = "Virudhunagar" %}selected="True" {% endif %}>Virudhunagar</option>
			</select>
    </div>
  </div>
   <div class="control-group">
    <div class="controls">
			<button id="btn_srch_donor" class="btn" type="submit">Find Donor</button>
    </div>
  </div>
</form>
<!--Search results of Blood Donors-->
{% if results != None %}
<ul class="pager">
  
   {% if results.has_previous %}
           <li> <a href="?srch_city={{ city|urlencode }}&srch_bloodgroup={{ bloodgroup|urlencode }}&page={{ results.previous_page_number }}">previous</a>
        </li>
        {% endif %}

        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
       <li>     <a href="?srch_city={{ city|urlencode }}&srch_bloodgroup={{ bloodgroup|urlencode }}&page={{ results.next_page_number }}">next</a>
    </li>
        {% endif %}
</ul>



{% endif %}
<table class="table table-hover">
	 {% if results != None %}
		
			<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Email Id</th>
			<th>Mobile</th>
			<th>Report</th>
			</tr>
		
	{% for user in results %}
	<tr>

		<td>{{ user.name }}</td>
		<td>{{ user.age }}</td>
		<td>{{ user.email }}</td>
		<td>{{ user.mobile }}</td>
		<td><a href="/reportuser">Report Inactivity</a></td>
		
	</tr>
	{% empty %}
	<div class="alert alert-error">
    	Result Empty !!
    	</div>
	{% endfor %}
	{% endif %}
	
</table>
  			</div>	
  			
  			<!-- instructions -->
  			<div class="span3">
  				{% include "rules.html" %}
  			</div>
  			</div> 
  			
  		</div>
  </body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© 2012-2013 dropforlife.in All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms & Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/siteby">Site design</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></center>
  </div>
 <!-- </div> -->
  </footer>
</html>