<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drop For Life - Search</title>
	  	<!-- Bootstrap -->
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/css/custom.css" rel="stylesheet" media="screen">
	    <!-- Jquery -->
	    <script src="/static/js/jquery-latest.js"></script>
	    <!-- bootstrap -->
	    <script src="/static/js/bootstrap.min.js"></script>
	    <!-- events -->
	    <script src="/static/js/events.js"></script>
  </head>
  <body>
  	<!-- navbar -->
  	<div class="navbar">
  	<div class="navbar-inner">
    <center><a class="brand" href="home">Drop For Life</a></center>
   
  </div>
</div>

  	<div class="container-fluid">
  		<div class="row-fluid">
  			<!-- login -->
  			<div class="span4 row-fluid" >

			<span class="hidden-phone">
			  	{% include "fb-likebutton.html" %}				
			</span>
			<span class="visible-mobile">
				{% include "fb-likebutton-mobile.html" %}
			</span>

<!--
  	  				<img class="hidden-phone" alt="DOnate Blood Save Life" src="/static/img/blood_load.png"/>
  	-->			
  			</div>
  			
  			<div class="span5" >
  				Welcome {{ user }} , <br/><br/>
  	<ul class="nav nav-pills">
    
    <li class="active"><a href="/search">Search</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/changepswd">Change Password</a></li>
    <li><a href="/logoutsite">Logout</a></li>
    </ul>
<form method="get" >
	
  				<legend>Search Donor</legend>
<table>
	<tr>
		<td>
			Blood Group:
		</td>
		<td>
			<select name="srch_bloodgroup">
	<option>A1+</option>
	<option>A1-</option>
	<option>A2+</option>
	<option>A2-</option>
	<option>B+</option>
	<option>B-</option>
	<option>A1B+</option>
	<option>A1B-</option>
	<option>A2B+</option>
	<option>A2B-</option>
	<option>AB+</option>
	<option>AB-</option>
	<option>O+</option>
	<option>O-</option>
	<option>A+</option>
	<option>A-</option>
</select>
		</td>
	</tr>
	<tr>
		<td>City:</td>
		<td>
			<select name="srch_city">
				<option>Ariyalur</option>
				<option>Chennai</option>
				<option>Coimbatore</option>
				<option>Cuddalore</option>
				<option>Dharmapuri</option>
				<option>Dindigul</option>
				<option>Erode</option>
				<option>Kanchipuram</option>
				<option>Kanniyakumari</option>
				<option>Karur</option>
				<option>Krishnagiri</option>
				<option>Madurai</option>
				<option>Nagapattinam</option>
				<option>Namakkal</option>
				<option>Nilgiris</option>
				<option>Perambalur</option>
				<option>Pudukottai</option>
				<option>Ramanathapuram</option>
				<option>Salem</option>
				<option>Sivaganga</option>
				<option>Thanjavur</option>
				<option>Theni</option>
				<option>Thoothukudi</option>
				<option>Thiruvarur</option>
				<option>Tirunelveli</option>
				<option>Tiruchirappalli</option>
				<option>Thiruvallur</option>
				<option>Tiruppur</option>
				<option>Tiruvannamalai</option>
				<option>Vellore</option>
				<option>Villupuram</option>
				<option {% if form.srch_city.value = "Virudhunagar" %}selected="True" {% endif %}>Virudhunagar</option>
			</select>
		</td>
		
	</tr>
	<tr>
		<td></td>
		<td>
			<button id="btn_srch_donor" class="btn" type="submit">Find Donor</button>
		</td>
	</tr>
</table>
</form>
<!--Search results of Blood Donors-->
{% if results != None %}
<ul class="pager">
  
   {% if results.has_previous %}
           <li> <a href="?srch_city={{ city|urlencode }}&srch_bloodgroup={{ bloodgroup|urlencode }}&page={{ results.previous_page_number }}">previous</a>
        </li>
        {% endif %}

        <span class="current">
            Page {{ results.number }} of {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
       <li>     <a href="?srch_city={{ city|urlencode }}&srch_bloodgroup={{ bloodgroup|urlencode }}&page={{ results.next_page_number }}">next</a>
    </li>
        {% endif %}
</ul>



{% endif %}
<table class="table table-hover">
	 {% if results != None %}
		
			<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Email Id</th>
			<th>Mobile</th>
			</tr>
		
	{% for user in results %}
	<tr>

		<td>{{ user.name }}</td>
		<td>{{ user.age }}</td>
		<td>{{ user.email }}</td>
		<td>{{ user.mobile }}</td>
		<td><a href="/reportuser">Report Inactivity</a></td>
		
	</tr>
	{% empty %}
	<div class="alert alert-error">
    	Result Empty !!
    	</div>
	{% endfor %}
	{% endif %}
	
</table>
  			</div>	
  			
  			<!-- instructions -->
  			<div class="span3">
  				{% include "rules.html" %}
  			</div>
  			</div> 
  			
  		</div>
  </body>
  <footer>
  <!-- <div class="navbar"> -->
  <div class="navbar-inner">
    <center>© 2012-2013 dropforlife.in All rights reserved. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/terms">Terms & Privacy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/siteby">Site design</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/contact">Contact Us</a></center>
  </div>
 <!-- </div> -->
  </footer>
</html>