<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
			<option {% if form.reg_location.value = "Ariyalur" %}selected="True" {% endif %}>Ariyalur</option>
			<option {% if form.reg_location.value = "Udayarpalayam" %}selected="True" {% endif %}>Udayarpalayam</option>
			<option {% if form.reg_location.value = "Sendurai" %}selected="True" {% endif %}>Sendurai</option>
		</select>
	</div>
</div>