<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if form.reg_location.value = "Egmore-Nungambakkam" %}selected="True" {% endif %}>Egmore-Nungambakkam</option>
	<option {% if form.reg_location.value = "Mylapore-Triplicane" %}selected="True" {% endif %}>Mylapore-Triplicane</option>
	<option {% if form.reg_location.value = "Mambalam-Guindy" %}selected="True" {% endif %}>Mambalam-Guindy</option>
	<option {% if form.reg_location.value = "Fort-Tondiarpet" %}selected="True" {% endif %}>Fort-Tondiarpet</option>
	<option {% if form.reg_location.value = "Perambur-Purasawalkam" %}selected="True" {% endif %}>Perambur-Purasawalkam</option>
-->

	<option {% if form.reg_location.value = "Adambakkam" %}selected="True" {% endif %}>Adambakkam</option>
	<option {% if form.reg_location.value = "Adyar" %}selected="True" {% endif %}>Adyar</option>
	<option {% if form.reg_location.value = "Alwarpet" %}selected="True" {% endif %}>Alwarpet</option>
	<option {% if form.reg_location.value = "Ambattur" %}selected="True" {% endif %}>Ambattur</option>
	<option {% if form.reg_location.value = "Anna Nagar Arcot" %}selected="True" {% endif %}>Anna Nagar Arcot</option>
	<option {% if form.reg_location.value = "Annanagar" %}selected="True" {% endif %}>Annanagar</option>
	<option {% if form.reg_location.value = "Annasalai" %}selected="True" {% endif %}>Annasalai</option>
	<option {% if form.reg_location.value = "Ashok Nagar" %}selected="True" {% endif %}>Ashok Nagar</option>
	<option {% if form.reg_location.value = "Avadi" %}selected="True" {% endif %}>Avadi</option>
	<option {% if form.reg_location.value = "Ayanavaram" %}selected="True" {% endif %}>Ayanavaram</option>
	<option {% if form.reg_location.value = "Besant Nagar" %}selected="True" {% endif %}>Besant Nagar</option>
	<option {% if form.reg_location.value = "Broadway" %}selected="True" {% endif %}>Broadway</option>
	<option {% if form.reg_location.value = "Chepauk" %}selected="True" {% endif %}>Chepauk</option>
	<option {% if form.reg_location.value = "Chetput" %}selected="True" {% endif %}>Chetput</option>
	<option {% if form.reg_location.value = "Chitlepakkam" %}selected="True" {% endif %}>Chitlepakkam</option>
	<option {% if form.reg_location.value = "Choolaimedu" %}selected="True" {% endif %}>Choolaimedu</option>
	<option {% if form.reg_location.value = "Chrompet" %}selected="True" {% endif %}>Chrompet</option>
	<option {% if form.reg_location.value = "Dr.Radhakrushnan Nagar" %}selected="True" {% endif %}>Dr.Radhakrushnan Nagar</option>
	<option {% if form.reg_location.value = "Egmore" %}selected="True" {% endif %}>Egmore</option>
	<option {% if form.reg_location.value = "Ennore" %}selected="True" {% endif %}>Ennore</option>
	<option {% if form.reg_location.value = "Guindy" %}selected="True" {% endif %}>Guindy</option>
	<option {% if form.reg_location.value = "Harbour" %}selected="True" {% endif %}>Harbour</option>
	<option {% if form.reg_location.value = "Jaffarkhanpet" %}selected="True" {% endif %}>Jaffarkhanpet</option>
	<option {% if form.reg_location.value = "Jawahar Nagar" %}selected="True" {% endif %}>Jawahar Nagar</option>
	<option {% if form.reg_location.value = "Kamaraj Nagar" %}selected="True" {% endif %}>Kamaraj Nagar</option>
	<option {% if form.reg_location.value = "Kilpauk" %}selected="True" {% endif %}>Kilpauk</option>
	<option {% if form.reg_location.value = "Kodambakkam" %}selected="True" {% endif %}>Kodambakkam</option>
	<option {% if form.reg_location.value = "Korattur" %}selected="True" {% endif %}>Korattur</option>
	<option {% if form.reg_location.value = "Kottupuram" %}selected="True" {% endif %}>Kottupuram</option>
	<option {% if form.reg_location.value = "Madhavaram" %}selected="True" {% endif %}>Madhavaram</option>
	<option {% if form.reg_location.value = "Madipakkam" %}selected="True" {% endif %}>Madipakkam</option>
	<option {% if form.reg_location.value = "Mambalam" %}selected="True" {% endif %}>Mambalam</option>
	<option {% if form.reg_location.value = "Manali" %}selected="True" {% endif %}>Manali</option>
	<option {% if form.reg_location.value = "Minambakkam" %}selected="True" {% endif %}>Minambakkam</option>
	<option {% if form.reg_location.value = "Mylapore" %}selected="True" {% endif %}>Mylapore</option>
	<option {% if form.reg_location.value = "Nandambakkam" %}selected="True" {% endif %}>Nandambakkam</option>
	<option {% if form.reg_location.value = "Nandanam" %}selected="True" {% endif %}>Nandanam</option>
	<option {% if form.reg_location.value = "Nanganullur" %}selected="True" {% endif %}>Nanganullur</option>
	<option {% if form.reg_location.value = "Nungambakkam" %}selected="True" {% endif %}>Nungambakkam</option>
	<option {% if form.reg_location.value = "Padi" %}selected="True" {% endif %}>Padi</option>
	<option {% if form.reg_location.value = "Pallavaram" %}selected="True" {% endif %}>Pallavaram</option>
	<option {% if form.reg_location.value = "Pammal" %}selected="True" {% endif %}>Pammal</option>
	<option {% if form.reg_location.value = "Park Town" %}selected="True" {% endif %}>Park Town</option>
	<option {% if form.reg_location.value = "Perambur" %}selected="True" {% endif %}>Perambur</option>
	<option {% if form.reg_location.value = "Purasawalkam" %}selected="True" {% endif %}>Purasawalkam</option>
	<option {% if form.reg_location.value = "Royapuram" %}selected="True" {% endif %}>Royapuram</option>
	<option {% if form.reg_location.value = "Saidapet" %}selected="True" {% endif %}>Saidapet</option>
	<option {% if form.reg_location.value = "Tambaram" %}selected="True" {% endif %}>Tambaram</option>
	<option {% if form.reg_location.value = "Theagaraya Nagar" %}selected="True" {% endif %}>Theagaraya Nagar</option>
	<option {% if form.reg_location.value = "Thiruvanmiyur" %}selected="True" {% endif %}>Thiruvanmiyur</option>
	<option {% if form.reg_location.value = "Thousand Lights" %}selected="True" {% endif %}>Thousand Lights</option>
	<option {% if form.reg_location.value = "Tirsulam" %}selected="True" {% endif %}>Tirsulam</option>
	<option {% if form.reg_location.value = "Tondiarpet" %}selected="True" {% endif %}>Tondiarpet</option>
	<option {% if form.reg_location.value = "Triplicane" %}selected="True" {% endif %}>Triplicane</option>
	<option {% if form.reg_location.value = "Vadapalani" %}selected="True" {% endif %}>Vadapalani</option>
	<option {% if form.reg_location.value = "Vandalur" %}selected="True" {% endif %}>Vandalur</option>
	<option {% if form.reg_location.value = "Velacherry" %}selected="True" {% endif %}>Velacherry</option>
	<option {% if form.reg_location.value = "Villiwakkam" %}selected="True" {% endif %}>Villiwakkam</option>
	<option {% if form.reg_location.value = "Virugambakkam" %}selected="True" {% endif %}>Virugambakkam</option>
	<option {% if form.reg_location.value = "Washermanpet" %}selected="True" {% endif %}>Washermanpet</option>

</select>
</div>
</div>