<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Egmore-Nungambakkam" %}selected="True" {% endif %}>Egmore-Nungambakkam</option>
	<option {% if location = "Mylapore-Triplicane" %}selected="True" {% endif %}>Mylapore-Triplicane</option>
	<option {% if location = "Mambalam-Guindy" %}selected="True" {% endif %}>Mambalam-Guindy</option>
	<option {% if location = "Fort-Tondiarpet" %}selected="True" {% endif %}>Fort-Tondiarpet</option>
	<option {% if location = "Perambur-Purasawalkam" %}selected="True" {% endif %}>Perambur-Purasawalkam</option>
-->

	<option {% if location = "Adambakkam" %}selected="True" {% endif %}>Adambakkam</option>
	<option {% if location = "Adyar" %}selected="True" {% endif %}>Adyar</option>
	<option {% if location = "Alwarpet" %}selected="True" {% endif %}>Alwarpet</option>
	<option {% if location = "Ambattur" %}selected="True" {% endif %}>Ambattur</option>
	<option {% if location = "Anna Nagar Arcot" %}selected="True" {% endif %}>Anna Nagar Arcot</option>
	<option {% if location = "Anna Nagar" %}selected="True" {% endif %}>Anna Nagar</option>
	<option {% if location = "Anna Salai" %}selected="True" {% endif %}>Anna Salai</option>
	<option {% if location = "Ashok Nagar" %}selected="True" {% endif %}>Ashok Nagar</option>
	<option {% if location = "Avadi" %}selected="True" {% endif %}>Avadi</option>
	<option {% if location = "Ayanavaram" %}selected="True" {% endif %}>Ayanavaram</option>
	<option {% if location = "Besant Nagar" %}selected="True" {% endif %}>Besant Nagar</option>
	<option {% if location = "Broadway" %}selected="True" {% endif %}>Broadway</option>
	<option {% if location = "Chepauk" %}selected="True" {% endif %}>Chepauk</option>
	<option {% if location = "Chetput" %}selected="True" {% endif %}>Chetput</option>
	<option {% if location = "Chitlepakkam" %}selected="True" {% endif %}>Chitlepakkam</option>
	<option {% if location = "Choolaimedu" %}selected="True" {% endif %}>Choolaimedu</option>
	<option {% if location = "Chrompet" %}selected="True" {% endif %}>Chrompet</option>
	<option {% if location = "Dr.Radhakrishnan Nagar" %}selected="True" {% endif %}>Dr.Radhakrishnan Nagar</option>
	<option {% if location = "Egmore" %}selected="True" {% endif %}>Egmore</option>
	<option {% if location = "Ennore" %}selected="True" {% endif %}>Ennore</option>
	<option {% if location = "Guindy" %}selected="True" {% endif %}>Guindy</option>
	<option {% if location = "Harbour" %}selected="True" {% endif %}>Harbour</option>
	<option {% if location = "Jaffarkhanpet" %}selected="True" {% endif %}>Jaffarkhanpet</option>
	<option {% if location = "Jawahar Nagar" %}selected="True" {% endif %}>Jawahar Nagar</option>
	<option {% if location = "Kamaraj Nagar" %}selected="True" {% endif %}>Kamaraj Nagar</option>
	<option {% if location = "Kilpauk" %}selected="True" {% endif %}>Kilpauk</option>
	<option {% if location = "Kodambakkam" %}selected="True" {% endif %}>Kodambakkam</option>
	<option {% if location = "Korattur" %}selected="True" {% endif %}>Korattur</option>
	<option {% if location = "Kottupuram" %}selected="True" {% endif %}>Kottupuram</option>
	<option {% if location = "Madhavaram" %}selected="True" {% endif %}>Madhavaram</option>
	<option {% if location = "Madipakkam" %}selected="True" {% endif %}>Madipakkam</option>
	<option {% if location = "Mambalam" %}selected="True" {% endif %}>Mambalam</option>
	<option {% if location = "Manali" %}selected="True" {% endif %}>Manali</option>
	<option {% if location = "Minambakkam" %}selected="True" {% endif %}>Minambakkam</option>
	<option {% if location = "Mylapore" %}selected="True" {% endif %}>Mylapore</option>
	<option {% if location = "Nandambakkam" %}selected="True" {% endif %}>Nandambakkam</option>
	<option {% if location = "Nandanam" %}selected="True" {% endif %}>Nandanam</option>
	<option {% if location = "Nanganullur" %}selected="True" {% endif %}>Nanganullur</option>
	<option {% if location = "Nungambakkam" %}selected="True" {% endif %}>Nungambakkam</option>
	<option {% if location = "Padi" %}selected="True" {% endif %}>Padi</option>
	<option {% if location = "Pallavaram" %}selected="True" {% endif %}>Pallavaram</option>
	<option {% if location = "Pammal" %}selected="True" {% endif %}>Pammal</option>
	<option {% if location = "Park Town" %}selected="True" {% endif %}>Park Town</option>
	<option {% if location = "Perambur" %}selected="True" {% endif %}>Perambur</option>
	<option {% if location = "Purasawalkam" %}selected="True" {% endif %}>Purasawalkam</option>
	<option {% if location = "Royapuram" %}selected="True" {% endif %}>Royapuram</option>
	<option {% if location = "Saidapet" %}selected="True" {% endif %}>Saidapet</option>
	<option {% if location = "Tambaram" %}selected="True" {% endif %}>Tambaram</option>
	<option {% if location = "Thiyagaraya Nagar" %}selected="True" {% endif %}>Thiyagaraya Nagar</option>
	<option {% if location = "Thiruvanmiyur" %}selected="True" {% endif %}>Thiruvanmiyur</option>
	<option {% if location = "Thousand Lights" %}selected="True" {% endif %}>Thousand Lights</option>
	<option {% if location = "Tirsulam" %}selected="True" {% endif %}>Tirsulam</option>
	<option {% if location = "Tondiarpet" %}selected="True" {% endif %}>Tondiarpet</option>
	<option {% if location = "Triplicane" %}selected="True" {% endif %}>Triplicane</option>
	<option {% if location = "Vadapalani" %}selected="True" {% endif %}>Vadapalani</option>
	<option {% if location = "Vandalur" %}selected="True" {% endif %}>Vandalur</option>
	<option {% if location = "Velacherry" %}selected="True" {% endif %}>Velacherry</option>
	<option {% if location = "Villiwakkam" %}selected="True" {% endif %}>Villiwakkam</option>
	<option {% if location = "Virugambakkam" %}selected="True" {% endif %}>Virugambakkam</option>
	<option {% if location = "Washermanpet" %}selected="True" {% endif %}>Washermanpet</option>

</select>
</div>
</div>