<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">

<!--	<option {% if location = "Annur" %}selected="True" {% endif %}>Annur</option>
	<option {% if location = "Coimbatore-North" %}selected="True" {% endif %}>Coimbatore-North</option>
	<option {% if location = "Coimbatore-South" %}selected="True" {% endif %}>Coimbatore-South</option>
	<option {% if location = "Coimbatore-West" %}selected="True" {% endif %}>Coimbatore-West</option>
	<option {% if location = "Kinathukadavu" %}selected="True" {% endif %}>Kinathukadavu</option>
	<option {% if location = "Mettupalayam" %}selected="True" {% endif %}>Mettupalayam</option>
	<option {% if location = "Pollachi" %}selected="True" {% endif %}>Pollachi</option>
	<option {% if location = "Valparai" %}selected="True" {% endif %}>Valparai</option>
-->
	<option {% if location = "Annur" %}selected="True" {% endif %}>Annur</option>
	<option {% if location = "Coimbatore" %}selected="True" {% endif %}>Coimbatore</option>
	<option {% if location = "Kinathukkadavu" %}selected="True" {% endif %}>Kinathukkadavu</option>
	<option {% if location = "Mettupalayam" %}selected="True" {% endif %}>Mettupalayam</option>
	<option {% if location = "Perur" %}selected="True" {% endif %}>Perur</option>
	<option {% if location = "Pollachi" %}selected="True" {% endif %}>Pollachi</option>
	<option {% if location = "Pongalur" %}selected="True" {% endif %}>Pongalur</option>
	<option {% if location = "Singanallur" %}selected="True" {% endif %}>Singanallur</option>
	<option {% if location = "Thondamuthur" %}selected="True" {% endif %}>Thondamuthur</option>
	<option {% if location = "Valparai" %}selected="True" {% endif %}>Valparai</option>

</select>
</div>
</div>