<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
			
<!--			<option {% if location = "Cuddalore" %}selected="True" {% endif %}>Cuddalore</option>
			<option {% if location = "Nellikupam" %}selected="True" {% endif %}>Nellikupam</option>
			<option {% if location = "Neyveli" %}selected="True" {% endif %}>Neyveli</option>
			<option {% if location = "Titakudi" %}selected="True" {% endif %}>Titakudi</option>
			<option {% if location = "Vriddachalam" %}selected="True" {% endif %}>Vriddachalam</option>
			<option {% if location = "Kattumannarkoil" %}selected="True" {% endif %}>Kattumannarkoil</option>
			<option {% if location = "Chidambaram" %}selected="True" {% endif %}>Chidambaram</option>
			<option {% if location = "Panruti" %}selected="True" {% endif %}>Panruti</option>
-->

	<option {% if location = "Bhuvanagiri" %}selected="True" {% endif %}>Bhuvanagiri</option>
	<option {% if location = "Chidambaram" %}selected="True" {% endif %}>Chidambaram</option>
	<option {% if location = "Cuddalore" %}selected="True" {% endif %}>Cuddalore</option>
	<option {% if location = "Kattumannarkoil" %}selected="True" {% endif %}>Kattumannarkoil</option>
	<option {% if location = "Kurinjipadi" %}selected="True" {% endif %}>Kurinjipadi</option>
	<option {% if location = "Mangalore" %}selected="True" {% endif %}>Mangalore</option>
	<option {% if location = "Nellikuppam" %}selected="True" {% endif %}>Nellikuppam</option>
	<option {% if location = "Neyveli" %}selected="True" {% endif %}>Neyveli</option>
	<option {% if location = "Panruti" %}selected="True" {% endif %}>Panruti</option>
	<option {% if location = "Virudhachalam" %}selected="True" {% endif %}>Virudhachalam</option>

		</select>
	</div>
</div>