<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--			<option {% if location = "Dharmapuri" %}selected="True" {% endif %}>Dharmapuri</option>
			<option {% if location = "Pappireddipatti" %}selected="True" {% endif %}>Pappireddipatti</option>
			<option {% if location = "Harur" %}selected="True" {% endif %}>Harur</option>
			<option {% if location = "Pennagaram" %}selected="True" {% endif %}>Pennagaram</option>
			<option {% if location = "Palacode" %}selected="True" {% endif %}>Palacode</option>
-->

	<option {% if location = "Dharmapuri" %}selected="True" {% endif %}>Dharmapuri</option>
	<option {% if location = "Harur" %}selected="True" {% endif %}>Harur</option>
	<option {% if location = "Morrapur" %}selected="True" {% endif %}>Morrapur</option>
	<option {% if location = "Palacode" %}selected="True" {% endif %}>Palacode</option>
	<option {% if location = "Pennagaram" %}selected="True" {% endif %}>Pennagaram</option>

		</select>
	</div>
</div>