<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if form.reg_location.value = "Dindigul" %}selected="True" {% endif %}>Dindigul</option>
	<option {% if form.reg_location.value = "Nilakottai-taluk" %}selected="True" {% endif %}>Nilakottai-taluk</option>
	<option {% if form.reg_location.value = "Oddanchathiram-taluk" %}selected="True" {% endif %}>Oddanchathiram-taluk</option>
	<option {% if form.reg_location.value = "Kodaikanal-taluk" %}selected="True" {% endif %}>Kodaikanal-taluk</option>
	<option {% if form.reg_location.value = "Vedasandhur-taluk" %}selected="True" {% endif %}>Vedasandhur-taluk</option>
	<option {% if form.reg_location.value = "Palani-taluk" %}selected="True" {% endif %}>Palani-taluk</option>
	<option {% if form.reg_location.value = "Athoor-taluk" %}selected="True" {% endif %}>Athoor-taluk</option>
	<option {% if form.reg_location.value = "Kodaikanal" %}selected="True" {% endif %}>Kodaikanal</option>
	<option {% if form.reg_location.value = "Natham-taluk" %}selected="True" {% endif %}>Natham-taluk</option>
</select>
</div>
</div>