<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Dindigul" %}selected="True" {% endif %}>Dindigul</option>
	<option {% if location = "Nilakottai-taluk" %}selected="True" {% endif %}>Nilakottai-taluk</option>
	<option {% if location = "Oddanchathiram-taluk" %}selected="True" {% endif %}>Oddanchathiram-taluk</option>
	<option {% if location = "Kodaikanal-taluk" %}selected="True" {% endif %}>Kodaikanal-taluk</option>
	<option {% if location = "Vedasandhur-taluk" %}selected="True" {% endif %}>Vedasandhur-taluk</option>
	<option {% if location = "Palani-taluk" %}selected="True" {% endif %}>Palani-taluk</option>
	<option {% if location = "Athoor-taluk" %}selected="True" {% endif %}>Athoor-taluk</option>
	<option {% if location = "Kodaikanal" %}selected="True" {% endif %}>Kodaikanal</option>
	<option {% if location = "Natham-taluk" %}selected="True" {% endif %}>Natham-taluk</option>
-->

	<option {% if location = "Athoor" %}selected="True" {% endif %}>Athoor</option>
	<option {% if location = "Dindigul" %}selected="True" {% endif %}>Dindigul</option>
	<option {% if location = "Natham" %}selected="True" {% endif %}>Natham</option>
	<option {% if location = "Nilakottai" %}selected="True" {% endif %}>Nilakottai</option>
	<option {% if location = "Oddanchatram" %}selected="True" {% endif %}>Oddanchatram</option>
	<option {% if location = "Palani" %}selected="True" {% endif %}>Palani</option>
	<option {% if location = "Vedasandur" %}selected="True" {% endif %}>Vedasandur</option>

</select>
</div>
</div>