<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Anthiyur" %}selected="True" {% endif %}>Anthiyur</option>
	<option {% if location = "Bhavani" %}selected="True" {% endif %}>Bhavani</option>
	<option {% if location = "Erode" %}selected="True" {% endif %}>Erode</option>
	<option {% if location = "Gobichettipalayam" %}selected="True" {% endif %}>Gobichettipalayam</option>
	<option {% if location = "Perundurai" %}selected="True" {% endif %}>Perundurai</option>
	<option {% if location = "Sathyamangalam" %}selected="True" {% endif %}>Sathyamangalam</option>
-->

	<option {% if location = "Andhiyur" %}selected="True" {% endif %}>Andhiyur</option>
	<option {% if location = "Bhavani" %}selected="True" {% endif %}>Bhavani</option>
	<option {% if location = "Bhavanisagar" %}selected="True" {% endif %}>Bhavanisagar</option>
	<option {% if location = "Erode" %}selected="True" {% endif %}>Erode</option>
	<option {% if location = "Gobichettipalayam" %}selected="True" {% endif %}>Gobichettipalayam</option>
	<option {% if location = "Kangeyam" %}selected="True" {% endif %}>Kangeyam</option>
	<option {% if location = "Modakurichi" %}selected="True" {% endif %}>Modakurichi</option>
	<option {% if location = "Perundurai" %}selected="True" {% endif %}>Perundurai</option>
	<option {% if location = "Sathyamangalam" %}selected="True" {% endif %}>Sathyamangalam</option>
	<option {% if location = "Vellakoil" %}selected="True" {% endif %}>Vellakoil</option>

</select>
</div>
</div>