<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Chengalpattu" %}selected="True" {% endif %}>Chengalpattu</option>
	<option {% if location = "Cheyyur" %}selected="True" {% endif %}>Cheyyur</option>
	<option {% if location = "Tambaram" %}selected="True" {% endif %}>Tambaram</option>
	<option {% if location = "Madurantakam" %}selected="True" {% endif %}>Madurantakam</option>
	<option {% if location = "Sriperumbudur" %}selected="True" {% endif %}>Sriperumbudur</option>
	<option {% if location = "Thirukazhukundram" %}selected="True" {% endif %}>Thirukazhukundram</option>
	<option {% if location = "Thiruporur" %}selected="True" {% endif %}>Thiruporur</option>
	<option {% if location = "Uthiramerur" %}selected="True" {% endif %}>Uthiramerur</option>
	<option {% if location = "Kanchipuram" %}selected="True" {% endif %}>Kanchipuram</option>
-->

	<option {% if location = "Acharapakkam" %}selected="True" {% endif %}>Acharapakkam</option>
	<option {% if location = "Alandur" %}selected="True" {% endif %}>Alandur</option>
	<option {% if location = "Chengalpattu" %}selected="True" {% endif %}>Chengalpattu</option>
	<option {% if location = "Kanchipuram" %}selected="True" {% endif %}>Kanchipuram</option>
	<option {% if location = "Maduranthakam" %}selected="True" {% endif %}>Maduranthakam</option>
	<option {% if location = "Sriperumbudur" %}selected="True" {% endif %}>Sriperumbudur</option>
	<option {% if location = "Tambaram" %}selected="True" {% endif %}>Tambaram</option>
	<option {% if location = "Tiruporur" %}selected="True" {% endif %}>Tiruporur</option>
	<option {% if location = "Uthiramerur" %}selected="True" {% endif %}>Uthiramerur</option>

</select>
</div>
</div>