<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
	<select id="inputLocation" name="reg_location">
<!--		<option {% if location = "Agastheeswaram" %}selected="True" {% endif %}>Agastheeswaram</option>
		<option {% if location = "Kalkovil" %}selected="True" {% endif %}>Kalkovil</option>
		<option {% if location = "Vilavancode" %}selected="True" {% endif %}>Vilavancode</option>
		<option {% if location = "Thovalai" %}selected="True" {% endif %}>Thovalai</option>
-->

	<option {% if location = "Colachel" %}selected="True" {% endif %}>Colachel</option>
	<option {% if location = "Kanyakumari" %}selected="True" {% endif %}>Kanyakumari</option>
	<option {% if location = "Killiyur" %}selected="True" {% endif %}>Killiyur</option>
	<option {% if location = "Nagercoil" %}selected="True" {% endif %}>Nagercoil</option>
	<option {% if location = "Padmanabhapuram" %}selected="True" {% endif %}>Padmanabhapuram</option>
	<option {% if location = "Thiruvattar" %}selected="True" {% endif %}>Thiruvattar</option>
	<option {% if location = "Vilavancode" %}selected="True" {% endif %}>Vilavancode</option>

	</select>
</div>
</div>