<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Krishnagiri" %}selected="True" {% endif %}>Krishnagiri</option>
	<option {% if location = "Hosur" %}selected="True" {% endif %}>Hosur</option>
	<option {% if location = "Pochampalli" %}selected="True" {% endif %}>Pochampalli</option>
	<option {% if location = "Uthangarai" %}selected="True" {% endif %}>Uthangarai</option>
	<option {% if location = "Denkanikottai" %}selected="True" {% endif %}>Denkanikottai</option>
-->

	<option {% if location = "Bargur" %}selected="True" {% endif %}>Bargur</option>
	<option {% if location = "Hosur" %}selected="True" {% endif %}>Hosur</option>
	<option {% if location = "Kaveripattinam" %}selected="True" {% endif %}>Kaveripattinam</option>
	<option {% if location = "Krishnagiri" %}selected="True" {% endif %}>Krishnagiri</option>
	<option {% if location = "Thalli" %}selected="True" {% endif %}>Thalli</option>

</select>
</div>
</div>