<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Madurai-North" %}selected="True" {% endif %}>Madurai-North</option>
	<option {% if location = "Madurai-South" %}selected="True" {% endif %}>Madurai-South</option>
	<option {% if location = "Melur" %}selected="True" {% endif %}>Melur</option>
	<option {% if location = "Periyur" %}selected="True" {% endif %}>Periyur</option>
	<option {% if location = "Tirumangalam" %}selected="True" {% endif %}>Tirumangalam</option>
	<option {% if location = "Usilampatti" %}selected="True" {% endif %}>Usilampatti</option>
	<option {% if location = "Vadipatti" %}selected="True" {% endif %}>Vadipatti</option>
-->

	<option {% if location = "Madurai" %}selected="True" {% endif %}>Madurai</option>
	<option {% if location = "Melur" %}selected="True" {% endif %}>Melur</option>
	<option {% if location = "Sedapatti" %}selected="True" {% endif %}>Sedapatti</option>
	<option {% if location = "Samayanallur" %}selected="True" {% endif %}>Samayanallur</option>
	<option {% if location = "Sholavandan" %}selected="True" {% endif %}>Sholavandan</option>
	<option {% if location = "Thirumangalam" %}selected="True" {% endif %}></option>
	<option {% if location = "Tiruparankundram" %}selected="True" {% endif %}>Tiruparankundram</option>
	<option {% if location = "Usilampatti" %}selected="True" {% endif %}>Usilampatti</option>

</select>
</div>
</div>