<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Kilvelur" %}selected="True" {% endif %}>Kilvelur</option>
	<option {% if location = "Kuthalam" %}selected="True" {% endif %}>Kuthalam</option>
	<option {% if location = "Mayiladuthurai" %}selected="True" {% endif %}>Mayiladuthurai</option>
	<option {% if location = "Vedaranyam" %}selected="True" {% endif %}>Vedaranyam</option>
	<option {% if location = "Thirukkuvalai" %}selected="True" {% endif %}>Thirukkuvalai</option>
	<option {% if location = "Tharangambadi" %}selected="True" {% endif %}>Tharangambadi</option>
	<option {% if location = "Sirkazhi" %}selected="True" {% endif %}>Sirkazhi</option>
	<option {% if location = "Nagapattinam" %}selected="True" {% endif %}>Nagapattinam</option>
-->

	<option {% if location = "Kuttalam" %}selected="True" {% endif %}>Kuttalam</option>
	<option {% if location = "Mayiladuthurai" %}selected="True" {% endif %}>Mayiladuthurai</option>
	<option {% if location = "Nagapattinam" %}selected="True" {% endif %}>Nagapattinam</option>
	<option {% if location = "Poompuhar" %}selected="True" {% endif %}>Poompuhar</option>
	<option {% if location = "Sirkali" %}selected="True" {% endif %}>Sirkali</option>
	<option {% if location = "Vedaranyam" %}selected="True" {% endif %}>Vedaranyam</option>

</select>
</div>
</div>