<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if form.reg_location.value = "Kilvelur" %}selected="True" {% endif %}>Kilvelur</option>
	<option {% if form.reg_location.value = "Kuthalam" %}selected="True" {% endif %}>Kuthalam</option>
	<option {% if form.reg_location.value = "Mayiladuthurai" %}selected="True" {% endif %}>Mayiladuthurai</option>
	<option {% if form.reg_location.value = "Vedaranyam" %}selected="True" {% endif %}>Vedaranyam</option>
	<option {% if form.reg_location.value = "Thirukkuvalai" %}selected="True" {% endif %}>Thirukkuvalai</option>
	<option {% if form.reg_location.value = "Tharangambadi" %}selected="True" {% endif %}>Tharangambadi</option>
	<option {% if form.reg_location.value = "Sirkazhi" %}selected="True" {% endif %}>Sirkazhi</option>
	<option {% if form.reg_location.value = "Nagapattinam" %}selected="True" {% endif %}>Nagapattinam</option>
</select>
</div>
</div>