<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Namakkal" %}selected="True" {% endif %}>Namakkal</option>
	<option {% if location = "Velur" %}selected="True" {% endif %}>Velur</option>
	<option {% if location = "Tiruchengode" %}selected="True" {% endif %}>Tiruchengode</option>
	<option {% if location = "Rasipuram" %}selected="True" {% endif %}>Rasipuram</option>
-->

	<option {% if location = "Kapilamalai" %}selected="True" {% endif %}>Kapilamalai</option>
	<option {% if location = "Namakkal" %}selected="True" {% endif %}>Namakkal</option>
	<option {% if location = "Rasipuram" %}selected="True" {% endif %}>Rasipuram</option>
	<option {% if location = "Sankari" %}selected="True" {% endif %}>Sankari</option>
	<option {% if location = "Sendamangalam" %}selected="True" {% endif %}>Sendamangalam</option>
	<option {% if location = "Tiruchengode" %}selected="True" {% endif %}>Tiruchengode</option>

	</select>
</div>
</div>