<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">

<!--	<option {% if form.reg_location.value = "Nilgiris" %}selected="True" {% endif %}>Nilgiris</option>
-->

	<option {% if form.reg_location.value = "Coonoor" %}selected="True" {% endif %}>Coonoor</option>
	<option {% if form.reg_location.value = "Gudalur" %}selected="True" {% endif %}>Gudalur</option>
	<option {% if form.reg_location.value = "Ooatacamund" %}selected="True" {% endif %}>Ooatacamund</option>

	</select>
</div>
</div>