<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Kunnam-taluk" %}selected="True" {% endif %}>Kunnam-taluk</option>
	<option {% if location = "Alathur-taluk" %}selected="True" {% endif %}>Alathur-taluk</option>
	<option {% if location = "Veppanthattai-taluk" %}selected="True" {% endif %}>Veppanthattai-taluk</option>
	<option {% if location = "Perambalur-taluk" %}selected="True" {% endif %}>Perambalur-taluk</option>
-->

	<option {% if location = "Andimadam" %}selected="True" {% endif %}>Andimadam</option>
	<option {% if location = "Ariyalur" %}selected="True" {% endif %}>Ariyalur</option>
	<option {% if location = "Jayankondam" %}selected="True" {% endif %}>Jayankondam</option>
	<option {% if location = "Perambalur" %}selected="True" {% endif %}>Perambalur</option>
	<option {% if location = "Varahur" %}selected="True" {% endif %}>Varahur</option>

</select>
</div>
</div>