<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if form.reg_location.value = "Kunnam-taluk" %}selected="True" {% endif %}>Kunnam-taluk</option>
	<option {% if form.reg_location.value = "Alathur-taluk" %}selected="True" {% endif %}>Alathur-taluk</option>
	<option {% if form.reg_location.value = "Veppanthattai-taluk" %}selected="True" {% endif %}>Veppanthattai-taluk</option>
	<option {% if form.reg_location.value = "Perambalur-taluk" %}selected="True" {% endif %}>Perambalur-taluk</option>
</select>
</div>
</div>