<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if location = "Pudukkottai" %}selected="True" {% endif %}>Pudukkottai</option>
	<option {% if location = "Gandarvakottai" %}selected="True" {% endif %}>Gandarvakottai</option>
	<option {% if location = "Manamelkudi" %}selected="True" {% endif %}>Manamelkudi</option>
	<option {% if location = "Avudaiyarkoil" %}selected="True" {% endif %}>Avudaiyarkoil</option>
	<option {% if location = "Arangthangi" %}selected="True" {% endif %}>Arangthangi</option>
	<option {% if location = "Alangudi" %}selected="True" {% endif %}>Alangudi</option>
	<option {% if location = "Tirumayam" %}selected="True" {% endif %}>Tirumayam</option>
	<option {% if location = "Kulatur" %}selected="True" {% endif %}>Kulatur</option>
	<option {% if location = "Ilupur" %}selected="True" {% endif %}>Ilupur</option>
</select>
</div>
</div>