<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Ramanathapuram" %}selected="True" {% endif %}>Ramanathapuram</option>
	<option {% if location = "Kadaladi" %}selected="True" {% endif %}>Kadaladi</option>
	<option {% if location = "Kamuthi" %}selected="True" {% endif %}>Kamuthi</option>
	<option {% if location = "Mudukulathur" %}selected="True" {% endif %}>Mudukulathur</option>
	<option {% if location = "Paramakudi" %}selected="True" {% endif %}>Paramakudi</option>
	<option {% if location = "Rameswaram" %}selected="True" {% endif %}>Rameswaram</option>
	<option {% if location = "Tiruvadanai" %}selected="True" {% endif %}>Tiruvadanai</option>
-->

	<option {% if location = "Kadaladi" %}selected="True" {% endif %}>Kadaladi</option>
	<option {% if location = "Mudukulathur" %}selected="True" {% endif %}>Mudukulathur</option>
	<option {% if location = "Paramakudi" %}selected="True" {% endif %}>Paramakudi</option>
	<option {% if location = "Ramanathapuram" %}selected="True" {% endif %}>Ramanathapuram</option>
	<option {% if location = "Thiruvadanai" %}selected="True" {% endif %}>Thiruvadanai</option>

</select>
</div>
</div>