<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Attur" %}selected="True" {% endif %}>Attur</option>
	<option {% if location = "Edappadi" %}selected="True" {% endif %}>Edappadi</option>
	<option {% if location = "Gangavalli" %}selected="True" {% endif %}>Gangavalli</option>
	<option {% if location = "Mettur" %}selected="True" {% endif %}>Mettur</option>
	<option {% if location = "Omalur" %}selected="True" {% endif %}>Omalur</option>
	<option {% if location = "Salem" %}selected="True" {% endif %}>Salem</option>
	<option {% if location = "Sankagiri" %}selected="True" {% endif %}>Sankagiri</option>
	<option {% if location = "Valapady" %}selected="True" {% endif %}>Valapady</option>
	<option {% if location = "Yercaud" %}selected="True" {% endif %}>Yercaud</option>
-->

	<option {% if location = "Athur" %}selected="True" {% endif %}>Athur</option>
	<option {% if location = "Edapadi" %}selected="True" {% endif %}>Edapadi</option>
	<option {% if location = "Mettur" %}selected="True" {% endif %}>Mettur</option>
	<option {% if location = "Omalur" %}selected="True" {% endif %}>Omalur</option>
	<option {% if location = "Panamarathupatty" %}selected="True" {% endif %}>Panamarathupatty</option>
	<option {% if location = "Salem" %}selected="True" {% endif %}>Salem</option>
	<option {% if location = "Talavasal" %}selected="True" {% endif %}>Talavasal</option>
	<option {% if location = "Taramangalam" %}selected="True" {% endif %}>Taramangalam</option>
	<option {% if location = "Veerapandi" %}selected="True" {% endif %}>Veerapandi</option>
	<option {% if location = "Yercaud" %}selected="True" {% endif %}>Yercaud</option>

</select>
</div>
</div>