<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if form.reg_location.value = "Sivaganga" %}selected="True" {% endif %}>Sivaganga</option>
	<option {% if form.reg_location.value = "Karaikkudi" %}selected="True" {% endif %}>Karaikkudi</option>
	<option {% if form.reg_location.value = "Devakkotai" %}selected="True" {% endif %}>Devakkotai</option>
	<option {% if form.reg_location.value = "Maanamadurai" %}selected="True" {% endif %}>Maanamadurai</option>
	<option {% if form.reg_location.value = "Ilayankudi" %}selected="True" {% endif %}>Ilayankudi</option>
	<option {% if form.reg_location.value = "Thirupathur" %}selected="True" {% endif %}>Thirupathur</option>
--> 

	<option {% if form.reg_location.value = "Ilayangudi" %}selected="True" {% endif %}>Ilayangudi</option>
	<option {% if form.reg_location.value = "Karaikudi" %}selected="True" {% endif %}>Karaikudi</option>
	<option {% if form.reg_location.value = "Manamadurai" %}selected="True" {% endif %}>Manamadurai</option>
	<option {% if form.reg_location.value = "Sivaganga" %}selected="True" {% endif %}>Sivaganga</option>
	<option {% if form.reg_location.value = "Tiruppathur" %}selected="True" {% endif %}>Tiruppathur</option>

</select>
</div>
</div>