<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Kumbakonam" %}selected="True" {% endif %}>Kumbakonam</option>
	<option {% if location = "Orathanadu" %}selected="True" {% endif %}>Orathanadu</option>
	<option {% if location = "Papanasam" %}selected="True" {% endif %}>Papanasam</option>
	<option {% if location = "Pattukkottai" %}selected="True" {% endif %}>Pattukkottai</option>
	<option {% if location = "Peravurani" %}selected="True" {% endif %}>Peravurani</option>
	<option {% if location = "Thanjavur" %}selected="True" {% endif %}>Thanjavur</option>
	<option {% if location = "Thiruvaiyaru" %}selected="True" {% endif %}>Thiruvaiyaru</option>
	<option {% if location = "Thiruvidaimarudur" %}selected="True" {% endif %}>Thiruvidaimarudur</option>
-->

	<option {% if location = "Kumbakonam" %}selected="True" {% endif %}>Kumbakonam</option>
	<option {% if location = "Orathanadu" %}selected="True" {% endif %}>Orathanadu</option>
	<option {% if location = "Papanasam" %}selected="True" {% endif %}>Papanasam</option>
	<option {% if location = "Pattukkottai" %}selected="True" {% endif %}>Pattukkottai</option>
	<option {% if location = "Thanjavur" %}selected="True" {% endif %}>Thanjavur</option>
	<option {% if location = "Thiruvidaimaruthur" %}selected="True" {% endif %}>Thiruvidaimaruthur</option>
	<option {% if location = "Thiruvonam" %}selected="True" {% endif %}>Thiruvonam</option>
	<option {% if location = "Tiruvaiyaru" %}selected="True" {% endif %}>Tiruvaiyaru</option>

</select>
</div>
</div>