<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if form.reg_location.value = "Kumbakonam" %}selected="True" {% endif %}>Kumbakonam</option>
	<option {% if form.reg_location.value = "Orathanadu" %}selected="True" {% endif %}>Orathanadu</option>
	<option {% if form.reg_location.value = "Papanasam" %}selected="True" {% endif %}>Papanasam</option>
	<option {% if form.reg_location.value = "Pattukkottai" %}selected="True" {% endif %}>Pattukkottai</option>
	<option {% if form.reg_location.value = "Peravurani" %}selected="True" {% endif %}>Peravurani</option>
	<option {% if form.reg_location.value = "Thanjavur" %}selected="True" {% endif %}>Thanjavur</option>
	<option {% if form.reg_location.value = "Thiruvaiyaru" %}selected="True" {% endif %}>Thiruvaiyaru</option>
	<option {% if form.reg_location.value = "Thiruvidaimarudur" %}selected="True" {% endif %}>Thiruvidaimarudur</option>
</select>
</div>
</div>