<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if form.reg_location.value = "Theni" %}selected="True" {% endif %}>Theni</option>
	<option {% if form.reg_location.value = "Periyakulam" %}selected="True" {% endif %}>Periyakulam</option>
	<option {% if form.reg_location.value = "Andipatti" %}selected="True" {% endif %}>Andipatti</option>
	<option {% if form.reg_location.value = "Bodinayakkanur" %}selected="True" {% endif %}>Bodinayakkanur</option>
	<option {% if form.reg_location.value = "Uthamapalayam" %}selected="True" {% endif %}>Uthamapalayam</option>
-->

	<option {% if form.reg_location.value = "Theni" %}selected="True" {% endif %}>Theni</option>
	<option {% if form.reg_location.value = "Periyakulam" %}selected="True" {% endif %}>Periyakulam</option>
	<option {% if form.reg_location.value = "Andipatti" %}selected="True" {% endif %}>Andipatti</option>
	<option {% if form.reg_location.value = "Bodinayakkanur" %}selected="True" {% endif %}>Bodinayakkanur</option>
	<option {% if form.reg_location.value = "Cumbum" %}selected="True" {% endif %}>Cumbum</option>

</select>
</div>
</div>