<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">

<!--	<option {% if location = "Ambattur" %}selected="True" {% endif %}>Ambattur</option>
	<option {% if location = "Gummidipoondi" %}selected="True" {% endif %}>Gummidipoondi</option>
	<option {% if location = "Pallipattu" %}selected="True" {% endif %}>Pallipattu</option>
	<option {% if location = "Ponneri" %}selected="True" {% endif %}>Ponneri</option>
	<option {% if location = "Poonamallee" %}selected="True" {% endif %}>Poonamallee</option>
	<option {% if location = "Tiruvallur" %}selected="True" {% endif %}>Tiruvallur</option>
	<option {% if location = "Uthukkottai" %}selected="True" {% endif %}>Uthukkottai</option>
-->

	<option {% if location = "Gummidipoondi" %}selected="True" {% endif %}>Gummidipoondi</option>
	<option {% if location = "Ponneri" %}selected="True" {% endif %}>Ponneri</option>
	<option {% if location = "Poonamallee" %}selected="True" {% endif %}>Poonamallee</option>
	<option {% if location = "Tiruvallur" %}selected="True" {% endif %}>Tiruvallur</option>
	<option {% if location = "Pakkipet" %}selected="True" {% endif %}>Pakkipet</option>
	<option {% if location = "Thiruttani" %}selected="True" {% endif %}>Thiruttani</option>
	<option {% if location = "Thiruvottiyur" %}selected="True" {% endif %}>Thiruvottiyur</option>
	<option {% if location = "Villivakkam" %}selected="True" {% endif %}>Villivakkam</option>

</select>
</div>
</div>