<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Kudavasal" %}selected="True" {% endif %}>Kudavasal</option>
	<option {% if location = "Valangaiman" %}selected="True" {% endif %}>Valangaiman</option>
	<option {% if location = "Tiruvarur" %}selected="True" {% endif %}>Tiruvarur</option>
	<option {% if location = "Thiruthiraipoondi" %}selected="True" {% endif %}>Thiruthiraipoondi</option>
	<option {% if location = "Needamangalam" %}selected="True" {% endif %}>Needamangalam</option>
	<option {% if location = "Nannilam" %}selected="True" {% endif %}>Nannilam</option>
	<option {% if location = "Mannargudi" %}selected="True" {% endif %}>Mannargudi</option>
-->

	<option {% if location = "Valangaiman" %}selected="True" {% endif %}>Valangaiman</option>
	<option {% if location = "Tiruvarur" %}selected="True" {% endif %}>Tiruvarur</option>
	<option {% if location = "Thiruthiraipoondi" %}selected="True" {% endif %}>Thiruthiraipoondi</option>
	<option {% if location = "Nannilam" %}selected="True" {% endif %}>Nannilam</option>
	<option {% if location = "Mannargudi" %}selected="True" {% endif %}>Mannargudi</option>

</select>
</div>
</div>