<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if form.reg_location.value = "Tuticorin" %}selected="True" {% endif %}>Tuticorin</option>
	<option {% if form.reg_location.value = "Thiruchendur" %}selected="True" {% endif %}>Thiruchendur</option>
	<option {% if form.reg_location.value = "Sathankulam" %}selected="True" {% endif %}>Sathankulam</option>
	<option {% if form.reg_location.value = "Srivaikundam" %}selected="True" {% endif %}>Srivaikundam</option>
	<option {% if form.reg_location.value = "Ottapidaram" %}selected="True" {% endif %}>Ottapidaram</option>
	<option {% if form.reg_location.value = "Kovilpatti" %}selected="True" {% endif %}>Kovilpatti</option>
	<option {% if form.reg_location.value = "Ettayapuram" %}selected="True" {% endif %}>Ettayapuram</option>
	<option {% if form.reg_location.value = "Vilathikulam" %}selected="True" {% endif %}>Vilathikulam</option>
-->

	<option {% if form.reg_location.value = "Tuticorin" %}selected="True" {% endif %}>Tuticorin</option>
	<option {% if form.reg_location.value = "Thiruchendur" %}selected="True" {% endif %}>Thiruchendur</option>
	<option {% if form.reg_location.value = "Sathankulam" %}selected="True" {% endif %}>Sathankulam</option>
	<option {% if form.reg_location.value = "Srivaikundam" %}selected="True" {% endif %}>Srivaikundam</option>
	<option {% if form.reg_location.value = "Ottapidaram" %}selected="True" {% endif %}>Ottapidaram</option>
	<option {% if form.reg_location.value = "Kovilpatti" %}selected="True" {% endif %}>Kovilpatti</option>
	<option {% if form.reg_location.value = "Vilathikulam" %}selected="True" {% endif %}>Vilathikulam</option>

</select>
</div>
</div>