<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if form.reg_location.value = "Thiruvannamalai" %}selected="True" {% endif %}>Thiruvannamalai</option>
	<option {% if form.reg_location.value = "kizh-Pennathur" %}selected="True" {% endif %}>kizh-Pennathur</option>
	<option {% if form.reg_location.value = "kalasapakkam" %}selected="True" {% endif %}>kalasapakkam</option>
	<option {% if form.reg_location.value = "Javadi-Hills" %}selected="True" {% endif %}>Javadi-Hills</option>
	<option {% if form.reg_location.value = "polur" %}selected="True" {% endif %}>polur</option>
	<option {% if form.reg_location.value = "Chengam" %}selected="True" {% endif %}>Chengam</option>
	<option {% if form.reg_location.value = "Thandarampattu" %}selected="True" {% endif %}>Thandarampattu</option>
	<option {% if form.reg_location.value = "Arani" %}selected="True" {% endif %}>Arani</option>
	<option {% if form.reg_location.value = "Cheyyar" %}selected="True" {% endif %}>Cheyyar</option>
	<option {% if form.reg_location.value = "Vandavasi" %}selected="True" {% endif %}>Vandavasi</option>
</select>
</div>
</div>