<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">

<!--	<option {% if location = "Alangulam" %}selected="True" {% endif %}>Alangulam</option>
	<option {% if location = "Ambasamudram" %}selected="True" {% endif %}>Ambasamudram</option>
	<option {% if location = "Nanguneri" %}selected="True" {% endif %}>Nanguneri</option>
	<option {% if location = "Palayamkottai" %}selected="True" {% endif %}>Palayamkottai</option>
	<option {% if location = "Tenkasi" %}selected="True" {% endif %}>Tenkasi</option>
	<option {% if location = "Shenkottai" %}selected="True" {% endif %}>Shenkottai</option>
	<option {% if location = "Radhapuram" %}selected="True" {% endif %}>Radhapuram</option>
	<option {% if location = "Sankarankoil" %}selected="True" {% endif %}>Sankarankoil</option>
	<option {% if location = "Sivagiri" %}selected="True" {% endif %}>Sivagiri</option>
	<option {% if location = "Tirunelveli" %}selected="True" {% endif %}>Tirunelveli</option>
	<option {% if location = "Veerakeralamputhur" %}selected="True" {% endif %}>Veerakeralamputhur</option>
-->

	<option {% if location = "Alangulam" %}selected="True" {% endif %}>Alangulam</option>
	<option {% if location = "Ambasamudram" %}selected="True" {% endif %}>Ambasamudram</option>
	<option {% if location = "Cheranmahadevi" %}selected="True" {% endif %}>Cheranmahadevi</option>
	<option {% if location = "Kadayanallur" %}selected="True" {% endif %}>Kadayanallur</option>
	<option {% if location = "Nanguneri" %}selected="True" {% endif %}>Nanguneri</option>
	<option {% if location = "Palayamkottai" %}selected="True" {% endif %}>Palayamkottai</option>
	<option {% if location = "Radhapuram" %}selected="True" {% endif %}>Radhapuram</option>
	<option {% if location = "Sankarankoil" %}selected="True" {% endif %}>Sankarankoil</option>
	<option {% if location = "Tirunelveli" %}selected="True" {% endif %}>Tirunelveli</option>
	<option {% if location = "Tenkasi" %}selected="True" {% endif %}>Tenkasi</option>
	<option {% if location = "Vasudevanallur" %}selected="True" {% endif %}>Vasudevanallur</option>

</select>
</div>
</div>