<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Thiruvannamalai" %}selected="True" {% endif %}>Thiruvannamalai</option>
	<option {% if location = "kizh-Pennathur" %}selected="True" {% endif %}>kizh-Pennathur</option>
	<option {% if location = "kalasapakkam" %}selected="True" {% endif %}>kalasapakkam</option>
	<option {% if location = "Javadi-Hills" %}selected="True" {% endif %}>Javadi-Hills</option>
	<option {% if location = "polur" %}selected="True" {% endif %}>polur</option>
	<option {% if location = "Chengam" %}selected="True" {% endif %}>Chengam</option>
	<option {% if location = "Thandarampattu" %}selected="True" {% endif %}>Thandarampattu</option>
	<option {% if location = "Arani" %}selected="True" {% endif %}>Arani</option>
	<option {% if location = "Cheyyar" %}selected="True" {% endif %}>Cheyyar</option>
	<option {% if location = "Vandavasi" %}selected="True" {% endif %}>Vandavasi</option>
-->
	<option {% if location = "Thiruvannamalai" %}selected="True" {% endif %}>Thiruvannamalai</option>
	<option {% if location = "Peranamallur" %}selected="True" {% endif %}>Peranamallur</option>
	<option {% if location = "kalasapakkam" %}selected="True" {% endif %}>kalasapakkam</option>
	<option {% if location = "polur" %}selected="True" {% endif %}>polur</option>
	<option {% if location = "Chengam" %}selected="True" {% endif %}>Chengam</option>
	<option {% if location = "Thandarampattu" %}selected="True" {% endif %}>Thandarampattu</option>
	<option {% if location = "Arani" %}selected="True" {% endif %}>Arani</option>
	<option {% if location = "Cheyyar" %}selected="True" {% endif %}>Cheyyar</option>
	<option {% if location = "Vandavasi" %}selected="True" {% endif %}>Vandavasi</option>

</select>
</div>
</div>