<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if location = "Tiruppur" %}selected="True" {% endif %}>Tiruppur</option>
	<option {% if location = "Avinashi" %}selected="True" {% endif %}>Avinashi</option>
	<option {% if location = "Palladam" %}selected="True" {% endif %}>Palladam</option>
	<option {% if location = "Dharapuram" %}selected="True" {% endif %}>Dharapuram</option>
	<option {% if location = "Kangeyam" %}selected="True" {% endif %}>Kangeyam</option>
	<option {% if location = "Udumalaipettai" %}selected="True" {% endif %}>Udumalaipettai</option>
	<option {% if location = "Madathukulam" %}selected="True" {% endif %}>Madathukulam</option>
</select>
</div>
</div>