<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Manapparai" %}selected="True" {% endif %}>Manapparai</option>
	<option {% if location = "Srirangam" %}selected="True" {% endif %}>Srirangam</option>
	<option {% if location = "Tiruchirapalli" %}selected="True" {% endif %}>Tiruchirapalli</option>
	<option {% if location = "Lalgudi" %}selected="True" {% endif %}>Lalgudi</option>
	<option {% if location = "Manachanallu" %}selected="True" {% endif %}>Manachanallu</option>
	<option {% if location = "Thuraiyur" %}selected="True" {% endif %}>Thuraiyur</option>
	<option {% if location = "Musiri" %}selected="True" {% endif %}>Musiri</option>
	<option {% if location = "Thottiyam" %}selected="True" {% endif %}>Thottiyam</option>
-->

	<option {% if location = "Marangapuri" %}selected="True" {% endif %}>Marangapuri</option>
	<option {% if location = "Srirangam" %}selected="True" {% endif %}>Srirangam</option>
	<option {% if location = "Tiruchirapalli" %}selected="True" {% endif %}>Tiruchirapalli</option>
	<option {% if location = "Lalgudi" %}selected="True" {% endif %}>Lalgudi</option>
	<option {% if location = "Uppiliapuram" %}selected="True" {% endif %}>Uppiliapuram</option>
	<option {% if location = "Thiruverumbur" %}selected="True" {% endif %}>Thiruverumbur</option>
	<option {% if location = "Musiri" %}selected="True" {% endif %}>Musiri</option>
	<option {% if location = "Thottiyam" %}selected="True" {% endif %}>Thottiyam</option>

</select>
</div>
</div>