<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if form.reg_location.value = "Alangulam" %}selected="True" {% endif %}>Alangulam</option>
	<option {% if form.reg_location.value = "Ambasamudram" %}selected="True" {% endif %}>Ambasamudram</option>
	<option {% if form.reg_location.value = "Nanguneri" %}selected="True" {% endif %}>Nanguneri</option>
	<option {% if form.reg_location.value = "Palayamkottai" %}selected="True" {% endif %}>Palayamkottai</option>
	<option {% if form.reg_location.value = "Tenkasi" %}selected="True" {% endif %}>Tenkasi</option>
	<option {% if form.reg_location.value = "Shenkottai" %}selected="True" {% endif %}>Shenkottai</option>
	<option {% if form.reg_location.value = "Radhapuram" %}selected="True" {% endif %}>Radhapuram</option>
	<option {% if form.reg_location.value = "Sankarankoil" %}selected="True" {% endif %}>Sankarankoil</option>
	<option {% if form.reg_location.value = "Sivagiri" %}selected="True" {% endif %}>Sivagiri</option>
	<option {% if form.reg_location.value = "Tirunelveli" %}selected="True" {% endif %}>Tirunelveli</option>
	<option {% if form.reg_location.value = "Veerakeralamputhur" %}selected="True" {% endif %}>Veerakeralamputhur</option>
</select>
</div>
</div>