<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
			
<!--	<option {% if form.reg_location.value = "Vellore" %}selected="True" {% endif %}>Vellore</option>
	<option {% if form.reg_location.value = "Arcot" %}selected="True" {% endif %}>Arcot</option>
	<option {% if form.reg_location.value = "Ambur" %}selected="True" {% endif %}>Ambur</option>
	<option {% if form.reg_location.value = "Vaniyambadi" %}selected="True" {% endif %}>Vaniyambadi</option>
	<option {% if form.reg_location.value = "Tiruppattur" %}selected="True" {% endif %}>Tiruppattur</option>
	<option {% if form.reg_location.value = "Walajapet" %}selected="True" {% endif %}>Walajapet</option>
	<option {% if form.reg_location.value = "Katpadi" %}selected="True" {% endif %}>Katpadi</option>
	<option {% if form.reg_location.value = "Arakkanom" %}selected="True" {% endif %}>Arakkanom</option>
	<option {% if form.reg_location.value = "Gudiyatham" %}selected="True" {% endif %}>Gudiyatham</option>
-->

	<option {% if form.reg_location.value = "Vellore" %}selected="True" {% endif %}>Vellore</option>

</select>
</div>
</div>