<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Kallakurichi" %}selected="True" {% endif %}>Kallakurichi</option>
	<option {% if location = "Sankarapuram" %}selected="True" {% endif %}>Sankarapuram</option>
	<option {% if location = "Ulundurpettai" %}selected="True" {% endif %}>Ulundurpettai</option>
	<option {% if location = "Tirukoilur" %}selected="True" {% endif %}>Tirukoilur</option>
	<option {% if location = "Gingee" %}selected="True" {% endif %}>Gingee</option>
	<option {% if location = "Vanur-taluk" %}selected="True" {% endif %}>Vanur-taluk</option>
	<option {% if location = "Villupuram" %}selected="True" {% endif %}>Villupuram</option>
	<option {% if location = "Tindivanam" %}selected="True" {% endif %}>Tindivanam</option>
-->

	<option {% if location = "Rishivandiam" %}selected="True" {% endif %}>Rishivandiam</option>
	<option {% if location = "Sankarapuram" %}selected="True" {% endif %}>Sankarapuram</option>
	<option {% if location = "Ulundurpettai" %}selected="True" {% endif %}>Ulundurpettai</option>
	<option {% if location = "Tirukoilur" %}selected="True" {% endif %}>Tirukoilur</option>
	<option {% if location = "Gingee" %}selected="True" {% endif %}>Gingee</option>
	<option {% if location = "Thirunavalur" %}selected="True" {% endif %}>Thirunavalur</option>
	<option {% if location = "Mugaiyur" %}selected="True" {% endif %}>Mugaiyur</option>
	<option {% if location = "Tindivanam" %}selected="True" {% endif %}>Tindivanam</option>
	<option {% if location = "Chinnasalem" %}selected="True" {% endif %}>Chinnasalem</option>
	<option {% if location = "Vanur" %}selected="True" {% endif %}>Vanur</option>
	<option {% if location = "Villupuram" %}selected="True" {% endif %}>Villupuram</option>
	<option {% if location = "Melmalayanur" %}selected="True" {% endif %}>Melmalayanur</option>
	<option {% if location = "Kandamangalam" %}selected="True" {% endif %}>Kandamangalam</option>

</select>
</div>
</div>