<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
<!--	<option {% if location = "Aruppukkottai" %}selected="True" {% endif %}>Aruppukkottai</option>
	<option {% if location = "Kariapatti" %}selected="True" {% endif %}>Kariapatti</option>
	<option {% if location = "Rajapalayam" %}selected="True" {% endif %}>Rajapalayam</option>
	<option {% if location = "Sattur-taluk" %}selected="True" {% endif %}>Sattur-taluk</option>
	<option {% if location = "Sivakasi" %}selected="True" {% endif %}>Sivakasi</option>
	<option {% if location = "Srivilliputhur" %}selected="True" {% endif %}>Srivilliputhur</option>
	<option {% if location = "Tiruchuli" %}selected="True" {% endif %}>Tiruchuli</option>
	<option {% if location = "Virudhunagar" %}selected="True" {% endif %}>Virudhunagar</option>
-->

	<option {% if location = "Aruppukkottai" %}selected="True" {% endif %}>Aruppukkottai</option>
	<option {% if location = "Rajapalayam" %}selected="True" {% endif %}>Rajapalayam</option>
	<option {% if location = "Sattur" %}selected="True" {% endif %}>Sattur</option>
	<option {% if location = "Sivakasi" %}selected="True" {% endif %}>Sivakasi</option>
	<option {% if location = "Srivilliputhur" %}selected="True" {% endif %}>Srivilliputhur</option>
	<option {% if location = "Virudhunagar" %}selected="True" {% endif %}>Virudhunagar</option>

</select>
</div>
</div>