<div class="control-group">
<label class="control-label" for="inputLocation">Location</label>
	<div class="controls">
		<select id="inputLocation" name="reg_location">
	<option {% if form.reg_location.value = "Aruppukkottai" %}selected="True" {% endif %}>Aruppukkottai</option>
	<option {% if form.reg_location.value = "Kariapatti" %}selected="True" {% endif %}>Kariapatti</option>
	<option {% if form.reg_location.value = "Rajapalayam" %}selected="True" {% endif %}>Rajapalayam</option>
	<option {% if form.reg_location.value = "Sattur-taluk" %}selected="True" {% endif %}>Sattur-taluk</option>
	<option {% if form.reg_location.value = "Sivakasi" %}selected="True" {% endif %}>Sivakasi</option>
	<option {% if form.reg_location.value = "Srivilliputhur" %}selected="True" {% endif %}>Srivilliputhur</option>
	<option {% if form.reg_location.value = "Tiruchuli" %}selected="True" {% endif %}>Tiruchuli</option>
	<option {% if form.reg_location.value = "Virudhunagar" %}selected="True" {% endif %}>Virudhunagar</option>
</select>
</div>
</div>